extends ../../../views/layout
include ../../../views/formComponents

mixin multiselect_td(id, name, value, tags)
  td(style="white-space: nowrap"): select.form-control.enhance(multiple, id=id, name=name, data-tags)
    each tag in tags
      option(selected=value.indexOf(tag) > -1) #{tag}

block title
  | Mailinglisten

block content
  .col-12
    .page-header
      h2 Mailinglisten Verwalten
    .table-responsive
      table.table.table-sm.table-striped
        tr
          th(style="width:15%") Name
          th(style="width:75%") Users
          th(style="width:5%")
          th(style="width:5%")

        each liste in listen
          form(action="/users/mailinglisten", method="post")
            tr
              +csrf
              +hidden("oldname", liste.name)
              td(style="white-space: nowrap"): input#name.form-control.trim-text(type="text", name="name", value=liste.name, style="width:100%")
              +multiselect_td(`users-for-${liste.name}`, "users", liste.users.map(user => user.id), users.map(user => user.id))
              td
                if liste.name !== "new"
                  a.btn.btn-danger.float-right(href='/users/deleteliste/' + encodeURIComponent(liste.name)): i.far.fa-fw.fa-trash-alt
              td: button.btn.btn-primary.float-right(type="submit"): i.far.fa-fw.fa-copy
