extends ../../../views/layout
include ../../../views/formComponents

block title
  | Orte

block content
  #edit.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Ort bearbeiten<br>
            small Leerer Name löscht den Ort
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        .modal-body
          form(action='ortChanged', method='post')
            +csrf
            +hidden('oldname', '')
            .row
              .col-sm-6
                +text('name', 'Name', '')
                +number('flaeche', 'Fläche in qm', 0)
              .col-sm-6
                +text('pressename', 'Name für Presse', '')
                +text('presseIn', 'Name für Presse (in)', '')
            .row
              .col-12
                .btn-group.float-right
                  button.btn.btn-light(data-dismiss='modal') Abbrechen
                  button.btn.btn-primary(type='submit') Speichern
  .col-12
    .page-header
      h2 Orte
    table.table.table-sm.table-responsive.table-striped
      tr
        th Name
        th Fläche
        th Für Presse
        th Für Presse mit "in"
        th Bearbeiten
      for ort in orte.orte()
        tr
          td #{ort.name}
          td #{ort.flaeche}
          td #{ort.pressename}
          td #{ort.presseIn}
          td: button.btn.btn-sm.btn-primary.float-right(data-toggle='modal', data-target='#edit', data-name=ort.name, data-flaeche=ort.flaeche, data-pressename=ort.pressename, data-pressein=ort.presseIn ): i.far.fa-fw.fa-edit
      tr
        td 
        td 
        td 
        td 
        td: button.btn.btn-sm.btn-success.float-right(data-toggle='modal', data-target='#edit')
          i.far.fa-fw.fa-file
          | &nbsp;Neu
  

block scripts
  script.
    $('#edit').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      // Extract info from data-* attributes
      var name = button.data('name');
      var flaeche = button.data('flaeche');
      var pressename = button.data('pressename');
      var presseIn = button.data('pressein');
      var modal = $(this);
      $('#name').val(name);
      $('input[name="oldname"]').val(name);
      $('#flaeche').val(flaeche);
      $('#pressename').val(pressename);
      $('#presseIn').val(presseIn);
    });
