extends ../../../views/layout
include ../../../views/formComponents

mixin daterow(name, value)
  td(style='white-space: nowrap'): input.form-control(id=name, type='text', name=name, value=value,
    style='width:100%',
    data-provide='datepicker',
    data-date-format= 'dd.mm.yyyy',
    data-date-autoclose=true,
    data-date-week-start=1,
    data-date-view-ode='days',
    data-date-min-view-mode='days',
    data-date-language='de',
    data-date-orientation='bottom')

block title
  | Termine

block content
  .col-12
    .page-header
      h2 Termine
    table.table.table-sm.table-striped.table-responsive
      tr
        th(width='15%') Startet am
        th(width='15%') Endet am
        th(width='65%') Beschreibung
        th(width='5%')
      for termin in termine
        form(action='/ical/submit', method='post')
          tr
            if termin.id()
              +hidden('id', termin.id())
            +csrf
            +daterow('startDate', termin.startMoment().format('L'))
            +daterow('endDate', termin.endMoment().format('L'))
            td(style='white-space: nowrap'): input#beschreibung.form-control.trim-text(type='text', name='beschreibung', value=termin.beschreibung(), style='width:100%') 
            td: button.btn.btn-primary.float-right(type='submit'): i.far.fa-fw.fa-copy

block head
  link(rel='stylesheet', href='/stylesheets/bootstrap-datepicker3.css')

block scripts
  script(src='/clientscripts/bootstrap-datepicker.min.js')
  script(src='/clientscripts/bootstrap-datepicker.de.min.js')
