extends briefpapier

block adresse
  - var bandname = veranstaltung.artist().bandname() || 'Band ohne Namen';
  p.
    #{bandname} <br>
    c/o #{veranstaltung.agentur().name()}<br>
    #{veranstaltung.agentur().strasse()}<br>
    #{veranstaltung.agentur().ort()}

block content1
  - var start = veranstaltung.startDatumUhrzeit();
  - var getin = veranstaltung.getinDatumUhrzeit();
  - var hotel = veranstaltung.hotel();
  - var bandname = veranstaltung.artist().bandname() || 'Band ohne Namen';

  .row
    .col-7
      p
        b Konzertvertrag
      p Dieser Vertrag wird geschlossen
    .col-5
      p.text-right Karlsruhe, #{datum.tagMonatJahrLang}
  .row
    .col-3
      p zwischen:<br>
        | vertreten durch:<br>
        | Anschrift:
    .col-9
      p
        b #{bandname}<br>
        b #{veranstaltung.agentur().name()}<br>
          | #{veranstaltung.agentur().strasse()}, #{veranstaltung.agentur().ort()}<br>
  .row
    .col-12
      p: i (nachfolgend Künstler genannt)
  .row
    .col-3
      p und:<br>
        | vertreten durch:<br>
        | Anschrift:
    .col-9
      p
        b Jazzclub Karlsruhe e.V.<br>
        b Niklas Braun<br>
          | Leopoldstr. 13, 76133 Karlsruhe<br>
  .row
    .col-12
      p: i (nachfolgend Veranstalter genannt)

  .row
    .col-12
      p.
        §1 Das Konzert findet statt am <b>#{start.tagMonatJahrLang}</b> um <b>#{start.uhrzeitKompakt} Uhr</b>.</br>
        Spielstätte: <b>#{veranstaltung.kopf().ort()}</b>
      p.
        §1.1 Get in ist <b>#{getin.uhrzeitKompakt} Uhr</b>, zu diesem Zeitpunkt muss der Veranstalter oder ein Vertreter anwesend sein.
        Seine Anwesenheit ist auch während der gesamten Veranstaltung sicher gestellt.
      p.
        §1.2 Gebietsschutz: Die Künstler verpflichten sich hiermit 14 Tage vor und nach dem Konzerttermin keine Konzerte im Umkreis von 50km zu geben.
      p.
        §2 Die vereinbarte Gage beträgt <b>#{veranstaltung.kosten().gagenTotalEURformatted()} &euro;</b>.<br>
        Der vereinbarte Betrag ist eine Bruttovergütung und schließt die MwSt. sowie sonstige Steuern ein. Nachforderungen sind ausgeschlossen.
      p.
        §2.1 Die Gage unterliegt nicht der Lohnsteuerpflicht, sondern wird vom Künstler selbst versteuert. Der Künstler verpflichtet sich zur Ausstellung einer ordnungsgemäßen Rechnung über die Gage in Papier- oder elektronischer Form.
      if (veranstaltung.unterkunft().anzahlZimmer() === 0)
        p.
          §2.2 Der Veranstalter stellt <b>keine Unterkunft</b>.
      else
        p.
          §2.2 Weiterhin stellt der Veranstalter <b>#{veranstaltung.unterkunft().anzahlZimmer()} Betten</b> im <b>#{hotel.name()}, #{hotel.einzeiligeAdresse()}</b>.
      if (buyoutInclusive)
        p.
          §2.3 Die Künstler bekommen eine Cateringpauschale (Buyout) in Höhe von 20,- &euro; pro Person erstattet. Hochprozentige Alkoholika werden vom Jazzclub Karlsruhe <em>NICHT</em> übernommen.
      else
        p.
          §2.3 Die Künstler bekommen eine Cateringpauschale (Buyout) in Höhe von 20,- &euro; pro Person, die in der Gage bereits enthalten sind. <b>Für Getränke und Speisen hat der Künstler somit selbst aufzukommen</b>.

      p.
        §2.4 Zusätzlich angefallene Backline-Kosten, die nicht vor Vertragsschluss abgeklärt sind, werden dem Künstler in Rechnung gestellt und mit der zu zahlenden Gage verrechnet.
      p.
        §3 Die vereinbarte Gage wird innerhalb von höchstens 14 Tagen nach dem Konzerttermin und Ausstellung einer ordnungsgemäßen Rechnung überwiesen.
      p.
        §3.1 Die Zahlung ist nicht abhängig vom Erfolg der Veranstaltung.

block content2
  .row
    .col-12
      p.
        §4 Die Gesamtleitung der Veranstaltung übernimmt der Veranstalter, dem insoweit ein Weisungsrecht zusteht.
        Die Art der Darbietung sowie die künstlerische Gestaltung liegen ausschließlich beim Künstler.
      p.
        §5 Der Veranstalter gewährleistet, dass der Veranstaltung keine behördlichen oder sonstigen Vorschriften entgegenstehen.
        Er verpflichtet sich, die Veranstaltung mit der notwendigen Sorgfalt vorzubereiten.
      p.
        §6 Für die persönliche Sicherheit des Künstlers am Veranstaltungsort sowie Schäden am Equipment des Künstlers,
        die durch Dritte im Verantwortungsbereich des Veranstalters entstehen, haftet dieser nach Maßgabe des BGB.
      p.
        §7 Das Konzert darf ohne vorherige Genehmigung des Künstlers nicht audiovisuell aufgezeichnet werden.
        Der Künstler wird seine Genehmigung nicht ohne wichtigen Grund verweigern.
      p.
        §8 Die GEMA-Lizenzvergütungen und den Verwerter-Anteil der Künstlersozialabgabe trägt der Veranstalter.
      p.
        §9 Fälle höherer Gewalt, welche einem Vertragspartner die Durchführung seiner vertraglichen Pflichten unzumutbar werden lassen,
        entbinden beide Seiten ohne weitere Konsequenzen von ihren Pflichten aus dem Vertrag. Der von höherer Gewalt betroffene Vertragspartner ist jedoch verpflichtet,
        den anderen Vertragspartner unverzüglich über das Vorliegen eines solchen Hinderungsgrundes zu informieren. Dies vorausgesetzt,
        entstehen in Fällen einer Verhinderung wegen höherer Gewalt keinerlei Ansprüche, welcher Art auch immer.
        Jeder Vertragspartner trägt die ihm entstandenen Aufwendungen selbst. Jedoch werden sich die Künstler um einen Ersatztermin bemühen.
      p.
        §9.1 Im Falle einer Erkrankung des Künstlers, ist dieser von allen Vertragspflichten befreit. Er ist jedoch verpflichtet,
        den Veranstalter unverzüglich über die Erkrankung zu informieren. Die Krankheit ist innerhalb der folgenden zehn Tage per ärztlichem Attest nachzuweisen.
        Im Falle einer Erkrankung entfällt der Anspruch auf die vereinbarte Gage.
      p.
        §10 Die Künstler verpflichten sich, ein unterschriebenes Exemplar des Vertrages innerhalb von 10 Tagen ab Zugang zurückzusenden.
        Andernfalls behält sich der Veranstalter vor, das Zustandekommen des Vertrages innerhalb von 10 Tagen ab Rückerhalt des unterschriebenen Vertrages abzulehnen.
        Eine digitale Unterschrift ist möglich.
      p.
        §11 Bei schuldhafter Vertragsverletzung wird eine gegenseitige Konventionalstrafe in Höhe der vereinbarten Gage festgelegt.
        Dem betroffenen Vertragspartner bleibt der Nachweis offen, dass durch die Vertragsverletzung kein  oder nur ein wesentlich geringerer Schaden entstanden ist.
      p.
        §12 Sind einzelne Bestimmungen dieses Vertrages anfechtbar oder unwirksam, so wird die Gültigkeit des Vertrages im Übrigen davon nicht berührt.
        Streichungen oder Änderungen einzelner Vertragspunkte bedürfen der Schriftform.
      p.
        §13 Der Vertrag unterliegt deutschem Recht. Ausschließlicher Gerichtstand für alle Streitigkeiten aus diesem Vertrag ist Karlsruhe, Deutschland.
      p.
        §14 Beide Vertragspartner vereinbaren Stillschweigen gegenüber Dritten, über die gesamten vertraglichen Vereinbarungen.
      p.
        §15 Die Vertragspartner versichern durch ihre Unterschrift, dass sie den Vertrag verstanden haben, in vollem Umfang geschäftsfähig und zur Unterschrift bevollmächtigt sind

      .row(style="margin-top:24px;")
        .col-6
          +signbox('Ort/Datum', 'Künstler')
          div(style="margin-top:5px;")
          +signbox('Ort/Datum', 'Veranstalter', 'Karlsruhe, 18. März 2018')
        .col-6
          +signbox('Unterschrift', 'Name Künstler')
          div(style="margin-top:5px;")
          +signbox('Unterschrift', 'Name Veranstalter', 'niklas', true)
