extends ../../../views/layout
include ../../../views/formComponents

block title
  | #{pageName} : #{subdir} - Beabeiten

block content
  .col-12
    form(action='/wiki/' + subdir + '/' + pageName, method='post')
      +csrf
      fieldset
        .page-header
          +submitButtons('Speichern')
        h2
          -var params = {pageName: pageName, subdir: subdir}
          if page.content === ''
            | Wiki-Seite "#{subdir}/#{pageName}" anlegen
          else 
            | Wiki-Seite "#{subdir}/#{pageName}" bearbeiten
        +hightextarea('content', 'Inhalt', page.content)
        +text('comment', 'Kommentar', page.comment, 'Commit-Kommentar', 'kein Commit-Kommentar')
        +hidden('metadata', page.metadata)
        input#subdir(type='hidden', name='subdir', value=subdir)
        +submitButtons('Speichern')
