extends ../../../../views/layout
include ../../../../views/formComponents
include mixins

block title
  | Veranstaltung

block content
  #freigebendialog.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Kasse freigeben<br>
            small Nach dem Freigeben ist keine Änderung mehr möglich!
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        .modal-body
          .row
            .col-12
              .btn-group.float-right
                button.btn.btn-light(data-dismiss='modal') Abbrechen
                a.btn.btn-success(href=veranstaltung.fullyQualifiedUrl() + '/kassenfreigabe', title='Kassenfreigabe')
                  i.fas.fa-unlock.fa-fw.fa-lg
                  | &nbsp;Kasse freigeben

  #entsperrendialog.modal.fade(tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-header
          h3.modal-title Kassenfreigabe rückgängig<br>
            small Bist Du sicher?
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        .modal-body
          .row
            .col-12
              .btn-group.float-right
                button.btn.btn-light(data-dismiss='modal') Abbrechen
                a.btn.btn-success(href=veranstaltung.fullyQualifiedUrl() + '/kassenfreigaberuckgaengig', title='Rückgängig')
                  i.fas.fa-unlock.fa-fw.fa-lg
                  | &nbsp;Kassenfreigabe rückgängig

  -var kasse = veranstaltung.kasse()
  -var freigegeben = kasse.istFreigegeben()
  .col-12
    form#kasseform(action='/veranstaltungen/submit', method='post')
      +editHeader(veranstaltung, 'kasse', freigegeben)
        .col-md-6
          +legendMitBody('einnahmen', 'Einnahmen Abendkasse', 'einnahmenGesamt', 'kasse')
            .row
              .col-4
                +currency('kasse[einnahmeTicketsEUR]', 'Tickets (AK)', kasse.einnahmeTicketsEUR(), 'Alles hier eingegebene gilt als Einnahme für "Deal"', null, freigegeben)
              .col-4
                +number('kasse[anzahlBesucherAK]', 'Anzahl (AK)', kasse.anzahlBesucherAK(), 'Anzahl der bar bezahlten Tickets', 0, 999, freigegeben)
              .col-4
                +currency('kasse[einnahmeBankEUR]', 'Bareinlage', kasse.einnahmeBankEUR(), 'z.B. Gage', null, freigegeben)
            .row
              .col-8
                +text('kasse[einnahmeSonstiges1Text]', 'Sonstiges', kasse.einnahmeSonstiges1Text(), null, 'Spende, Mitgliedsbeitrag, etc.', freigegeben)
              .col-4
                +currency('kasse[einnahmeSonstiges1EUR]', 'Betrag', kasse.einnahmeSonstiges1EUR(), null, null, freigegeben)
            .row
              .col-8
                +text('kasse[einnahmeSonstiges2Text]', 'Sonstiges', kasse.einnahmeSonstiges2Text(), null, 'Spende, Mitgliedsbeitrag, etc.', freigegeben)
              .col-4
                +currency('kasse[einnahmeSonstiges2EUR]', 'Betrag', kasse.einnahmeSonstiges2EUR(), null, null, freigegeben)
          .row
            .col-12.mb-2
              a.btn.btn-kasse(href=veranstaltung.fullyQualifiedUrl() + '/kassenzettel', title='Abendkasse')
                i.fas.fa-fw.fa-print
                | #{' '} Kassenzettel
              .btn-group.float-right
                if freigegeben
                  a(class='btn btn-danger' + (!accessrights.darfKasseFreigeben() ? ' disabled' : ''), data-toggle='modal', data-target='#entsperrendialog', href='#')
                    i.fas.fa-lock.fa-fw.fa-lg
                    | &nbsp;Kasse ist freigegeben
                else if accessrights.darfKasseFreigeben()
                  a.btn.btn-success(data-toggle='modal', data-target='#freigebendialog', href='#')
                    i.fas.fa-unlock.fa-fw.fa-lg
                    | &nbsp;Kasse freigeben


        .col-md-6
          +legendMitBody('ausgaben', 'Ausgaben (Bar und mit Beleg)', 'ausgabenGesamt', 'kasse')
            .row
              .col-sm-4.col-6
                if !veranstaltung.kosten().gageBAR()
                  +currency('kasse[ausgabeGageEUR]', 'Gage', kasse.ausgabeGageEUR(), null, null, freigegeben)
                else
                  .form-group
                    label.control-label.text-danger(for='kasse[ausgabeGageEUR]')
                      i.fas.fa-exclamation-triangle
                      | &nbsp; Gage BAR &nbsp;
                      i.fas.fa-exclamation-triangle :
                    input.form-control.currency(id='kasse[ausgabeGageEUR]', type='text', value=kasse.ausgabeGageEUR(), name='kasse[ausgabeGageEUR]', disabled=freigegebe, text-align='right', data-currency-symbol=' €', data-currency-symbol-placement='s', data-decimal-character=',', data-digit-group-separator='')
              .col-sm-4.col-6
                +currency('kasse[ausgabeCateringEUR]', 'Catering', kasse.ausgabeCateringEUR(), null, null, freigegeben)
              .col-sm-4.col-6
                +currency('kasse[ausgabeHelferEUR]', 'Personal', kasse.ausgabeHelferEUR(), null, null, freigegeben)
            .row
              .col-8
                +text('kasse[ausgabeSonstiges1Text]', 'Sonstiges', kasse.ausgabeSonstiges1Text(), null, null, freigegeben)
              .col-4
                +currency('kasse[ausgabeSonstiges1EUR]', 'Betrag', kasse.ausgabeSonstiges1EUR(), null, null, freigegeben)
            .row
              .col-8
                +text('kasse[ausgabeSonstiges2Text]', 'Sonstiges', kasse.ausgabeSonstiges2Text(), null, null, freigegeben)
              .col-4
                +currency('kasse[ausgabeSonstiges2EUR]', 'Betrag', kasse.ausgabeSonstiges2EUR(), null, null, freigegeben)
            .row
              .col-8
                +text('kasse[ausgabeSonstiges3Text]', 'Sonstiges', kasse.ausgabeSonstiges3Text(), null, null, freigegeben)
              .col-4
                +currency('kasse[ausgabeSonstiges3EUR]', 'Betrag', kasse.ausgabeSonstiges3EUR(), null, null, freigegeben)
            .row
              .col-sm-9.col-6
              .col-sm-3.col-6
                +currency('kasse[ausgabeBankEUR]', 'An Bank', kasse.ausgabeBankEUR(), null, null, freigegeben)
      .row
        .col-12
          .row
            .col-sm-3.col-6
              +currency('kasse[anfangsbestandEUR]', 'Anfangsbestand', kasse.anfangsbestandEUR(), null, null, freigegeben)
            .col-sm-3.col-6
              +currency('endbestandEUR', 'Endbestand', kasse.endbestandEUR(), null, null, true)

block scripts
  script.
    $(document).ready(function () {
      var einnahmeBankEUR = $('#kasse\\[einnahmeBankEUR\\]');
      var einnahmeTicketsEUR = $('#kasse\\[einnahmeTicketsEUR\\]');
      var einnahmeSonstiges1EUR = $('#kasse\\[einnahmeSonstiges1EUR\\]');
      var einnahmeSonstiges2EUR = $('#kasse\\[einnahmeSonstiges2EUR\\]');
      var einnahmenGesamtEUR;
      var ausgabenGesamtEUR;

      function updateEinnahmenGesamt() {
        einnahmenGesamtEUR = floatAmount(einnahmeBankEUR) + floatAmount(einnahmeTicketsEUR)
          + floatAmount(einnahmeSonstiges1EUR) + floatAmount(einnahmeSonstiges2EUR);
        setEuro($('#einnahmenGesamt'), einnahmenGesamtEUR);
        $('#einnahmenGesamt').change(updateEndbestand);
      }

      einnahmeBankEUR.keyup(updateEinnahmenGesamt);
      einnahmeTicketsEUR.keyup(updateEinnahmenGesamt);
      einnahmeSonstiges1EUR.keyup(updateEinnahmenGesamt);
      einnahmeSonstiges2EUR.keyup(updateEinnahmenGesamt);
      updateEinnahmenGesamt();

      var ausgabeGageEUR = $('#kasse\\[ausgabeGageEUR\\]');
      var ausgabeCateringEUR = $('#kasse\\[ausgabeCateringEUR\\]');
      var ausgabeHelferEUR = $('#kasse\\[ausgabeHelferEUR\\]');
      var ausgabeSonstiges1EUR = $('#kasse\\[ausgabeSonstiges1EUR\\]');
      var ausgabeSonstiges2EUR = $('#kasse\\[ausgabeSonstiges2EUR\\]');
      var ausgabeSonstiges3EUR = $('#kasse\\[ausgabeSonstiges3EUR\\]');
      var ausgabeBankEUR = $('#kasse\\[ausgabeBankEUR\\]');

      function updateAusgabenGesamt() {
        ausgabenGesamtEUR = floatAmount(ausgabeGageEUR) +
          floatAmount(ausgabeCateringEUR) + floatAmount(ausgabeHelferEUR) +
          floatAmount(ausgabeSonstiges1EUR) + floatAmount(ausgabeSonstiges2EUR) +
          floatAmount(ausgabeSonstiges3EUR) + floatAmount(ausgabeBankEUR);
        setEuro($('#ausgabenGesamt'), ausgabenGesamtEUR);
        $('#ausgabenGesamt').change(updateEndbestand);
      }

      ausgabeGageEUR.keyup(updateAusgabenGesamt);
      ausgabeCateringEUR.keyup(updateAusgabenGesamt);
      ausgabeHelferEUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges1EUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges2EUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges3EUR.keyup(updateAusgabenGesamt);
      ausgabeBankEUR.keyup(updateAusgabenGesamt);
      updateAusgabenGesamt();

      var anfangsbestandEUR = $('#kasse\\[anfangsbestandEUR\\]');

      function updateEndbestand() {
        var endbestand = floatAmount(anfangsbestandEUR) +
          einnahmenGesamtEUR - ausgabenGesamtEUR;
        setEuroInput($('#endbestandEUR'), endbestand);
      }

      anfangsbestandEUR.keyup(updateEndbestand);
      updateEndbestand();
    });
  script(src='/clientscripts/check-kasseform.js')
