include ../../../../views/formComponents

mixin kontakt(veranstaltung, kontakte, labelForLegend, name, optionalColorClass)
  - var derkontakt = veranstaltung[name]();
  +legendMitBody(name, labelForLegend, null, optionalColorClass)
    .row
      .col-sm-6
        +singleselect(name + '[auswahl]', 'Auswahl', derkontakt.name(), kontakte.map(k => k.name))
        +text(name + '[name]', 'Name', derkontakt.name())
      .col-sm-6
        +textareaPure(name + '[adresse]', 'Adresse', derkontakt.adresse())
    .row
      .col-sm-6
        +text(name + '[telefon]', 'Telefon', derkontakt.telefon())
      .col-sm-6
        +email(name + '[email]', 'E-Mail', derkontakt.email())

mixin kontaktScript(name, callbackname)
  - var callback = callbackname || 'dummyfunc';
  script.
    $(document).ready(function () {
      var dummyfunc = function () {};
      var auswahl = $('##{name}\\[auswahl\\]');
      var nameText = $('##{name}\\[name\\]');
      var telefonText = $('##{name}\\[telefon\\]');
      var emailText = $('##{name}\\[email\\]');
      var adresseText = $('##{name}\\[adresse\\]');

      function updateForAuswahl() {
        $.ajax('/optionen/#{name}ForAuswahl', {data: {auswahl: auswahl.val()}})
         .done(function (result) {
           if (result) {
             nameText.val(result.name);
             telefonText.val(result.telefon);
             emailText.val(result.email);
             adresseText.val(result.adresse);
             #{callback}(auswahl.val());
           }
         });
      }

      auswahl.change(updateForAuswahl);
    });
