include ../../../../views/formComponents

mixin submitButtonsFor(veranstaltung, current, withsave)
  .btn-group.btn-group.float-right
    a.btn.btn-light(href='/', title='Zurück'): i.fas.fa-arrow-left.fa-fw
    if accessrights.isOrgaTeam()
      if veranstaltung.url() && !veranstaltung.kopf().confirmed()
        a.btn.btn-light(href=veranstaltung.fullyQualifiedUrl() + '/delete', title='Löschen')
          i.fas.fa-fw.fa-trash-alt.text-danger
      if veranstaltung.url()
        +submitButton(veranstaltung, current, 'copy', 'Kopieren', 'light', 'fa-copy ')
    if withsave
      +hidden('returnTo', current)
      button.btn.btn-success(type='submit', title='Speichern'): i.far.fa-save.fa-fw

mixin tabsFor(veranstaltung, current)
  ul.nav.nav-tabs
    if accessrights.isOrgaTeam()
      +tab(veranstaltung, current, 'kopf', 'Allgemeines', 'general', 'fa-keyboard')
      +tab(veranstaltung, current, 'technik', 'Technik', 'technik', 'fa-microphone-alt')
      +tab(veranstaltung, current, 'ausgaben', 'Kalkulation', 'costs', 'fa-euro-sign')
      if veranstaltung.artist().brauchtHotel()
        +tab(veranstaltung, current, 'hotel', 'Hotel', 'hotel', 'fa-bed')
    +tab(veranstaltung, current, 'kasse', 'Abendkasse', 'kasse', 'fa-money-bill-alt')
    if accessrights.isOrgaTeam()
      +tab(veranstaltung, current, 'presse', 'Presse', 'presse', 'fa-newspaper')

mixin tab(veranstaltung, current, name, title, btnstyle, icon)
  if veranstaltung.url()
    li(class='nav-item' + (current !== name ? ' tab-' : ' color-') + btnstyle )
      a(class='px-2 py-1 py-md-2 nav-link inherit-color' + (current === name ? ' disabled' : ''), href=veranstaltung.fullyQualifiedUrl() + '/' + name, title=title)
        i(class='fas fa-fw ' + icon)
        b.d-none.d-md-inline #{' '} #{title}
  else
    li(class='nav-item' + (name !== 'kopf' ? ' tab-' : ' color-') + btnstyle )
      a(class='px-2 py-1 py-md-2 nav-link inherit-color disabled', href='#', title=title)
        i(class='fas fa-fw ' + icon)
        b.d-none.d-md-inline #{' '} #{title}
