extends ../../../../views/layout
include ../../../../views/formComponents
include mixins
  
mixin mitarbeiterRows(collection, verantwortlich)
  for user in collection || []
    tr
      td(width='2%')
      td(width='98%')
        | #{user.name} &nbsp;
        span.mailtoify #{user.email}
        | #{' '} Tel.: 
        span.telify #{user.tel}
        if verantwortlich
          b #{' '}(Verantwortlich)


block title
  | #{veranstaltung.kopf().titel()}

block content
  -var agentur = veranstaltung.agentur()
  -var artist = veranstaltung.artist()
  -var eintrittspreise = veranstaltung.eintrittspreise()
  -var kasse = veranstaltung.kasse()
  -var kopf = veranstaltung.kopf()
  -var kosten = veranstaltung.kosten()
  -var staff = veranstaltung.staff()
  -var unterkunft = veranstaltung.unterkunft()
  -var vertrag = veranstaltung.vertrag()
  -var werbung = veranstaltung.werbung()
  -var salesreport = veranstaltung.salesreport()
  .col-12
    .row
      .col-12
        .page-header
          .btn-group.float-right
            +submitButtonsFor(veranstaltung, '', true)
  
          h2(class='text-' + kopf.cssColorCode())
            i(class=kopf.cssIconClass(), style='font-weight:normal') #{''} 
            | #{kopf.titel()} - #{kopf.ort()}
            br
            small
              | #{veranstaltung.startMoment().format('LLLL')} #{''}
              span (#{kopf.eventTyp()})
            if kopf.kooperation() && kopf.kooperation().length  > 1
              h3 Kooperation mit #{kopf.kooperation()}
    .row
      .col-md-6
        +legendMitBody('staff', 'Staff', null, 'staff')
          -var mitarbeiter = veranstaltung.staff().state.mitarbeiterTransient;  
          table.table.table-striped.table-sm
            if veranstaltung.staff().noStaffNeeded()
              tr: th(colspan=2) Niemand benötigt
            else
              tr: th(colspan=2) Technik
              +mitarbeiterRows(mitarbeiter.technikerV, true)
              +mitarbeiterRows(mitarbeiter.techniker, false)
              tr: th(colspan=2) Kasse
              +mitarbeiterRows(mitarbeiter.kasseV, true)
              +mitarbeiterRows(mitarbeiter.kasse, false)
              if mitarbeiter.merchandise.length > 0
                tr: th(colspan=2) Merchandising
              +mitarbeiterRows(mitarbeiter.merchandise, false)
              if mitarbeiter.fremdpersonal.length > 0
                tr: th(colspan=2) Sonstige
              +mitarbeiterRows(mitarbeiter.fremdpersonal, false)
                
  
        +legendMitBody('eintritt', 'Eintritt und Abendkasse', 'eintrittGesamtEUR', 'kasse', veranstaltung.einnahmenGesamtEUR())
          if eintrittspreise.frei()
            .card-body
              p: b Freier Eintritt
              p
                b Abendkasse (Sammelbox) Überschuss (ohne Abzug Gage Cash)#{''}
                b : #{''}
                 +currencySpan(kasse.ausgabeBankEUR() + kasse.ausgabeGageEUR(), 'abendkasseEUR')
          else
            table.table.table-sm.table-striped
              tr
                th
                th(align='right', style='text-align: right;') Regulär
                th(align='right', style='text-align: right;') Ermäßigt
                th(align='right', style='text-align: right;') Mitglied
              tr
                th Preise
                td(align='right'): +currencySpan(eintrittspreise.regulaer(), 'eintrittRegulaer')
                td(align='right'): +currencySpan(eintrittspreise.ermaessigt(), 'eintrittErmaessigt')
                td(align='right'): +currencySpan(eintrittspreise.mitglied(), 'eintrittMitglied')
              if veranstaltung.reservixID()
                tr
                  th(colspan=3) Reservix (Brutto)
                  td: .float-right: +currencySpan(kasse.reservixBruttoEUR(), 'bruttoReservix')
                tr
                  th(colspan=2) Reservix (Netto)
                  td: .float-right #{kasse.anzahlBesucherReservix()}
                  td: .float-right: +currencySpan(kasse.reservixNettoEUR(), 'nettoReservix')
              tr
                th(colspan=3) Abendkasse Überschuss (ohne Abzug Gage Cash)
                td: .float-right: +currencySpan(kasse.einnahmenNettoEUR(), 'abendkasseEUR')
              if eintrittspreise.zuschuss() > 0
                tr
                  th(colspan=3) Zuschuss
                  th: .float-right: +currencySpan(eintrittspreise.zuschuss(), 'zuschuss')
              tr.form-inline
                td(colspan=4)
                  a.btn.btn-kasse(href=veranstaltung.fullyQualifiedUrl() + '/kassenzettel', title='Kassenzettel anzeigen')
                    | &nbsp;Kassenzettel
  
  
        +legendMitBody('deal', 'Kostenübersicht /  Break-Even', 'dealUeberschussTotal', 'concert', veranstaltung.dealUeberschussTotal())
          table.table.table-sm.table-striped
            tr
              th(align='right', style='text-align: right;') Einnahmen
              th(align='right', style='text-align: right;') Kosten
              th(align='right', style='text-align: right;') Überschuss
            tr
              td(align='right'): +currencySpan(veranstaltung.einnahmenGesamtEUR(), 'dealEinnahmen')
              td(align='right'): +currencySpan(veranstaltung.kostenGesamtEUR(), 'dealKosten')
              td(align='right'): b: +currencySpan(veranstaltung.bruttoUerberschussEUR(), 'dealUeberschuss')
            if kosten.deal() !== 'ohne'
              tr
                th Anteilig an Band (#{kosten.deal()}):
                td
                td(align='right'): b: +currencySpan(veranstaltung.dealAbsolutEUR(), 'dealUeberschussAnBand')
  
        if kopf.beschreibungHTML()
          +legendMitBody('info', 'Informationen', null, 'misc')
            .card-body
              | !{kopf.beschreibungHTML()}
  
      .col-md-6
        +legendMitBody('kosten', 'Kosten', 'costs', 'costs', veranstaltung.kostenGesamtEUR())
          table.table.table-striped.table-sm
            if !veranstaltung.kostenGesamtEUR()
              tr: th(colspan=3) Keine Kosten
            else
              if kosten.backlineUndTechnikEUR()
                tr
                  th(colspan=2) Backline und Technik
                  th(align='right', style='text-align: right;'): +currencySpan(kosten.backlineUndTechnikEUR(), 'backlineUndTechnikEUR')
              if kosten.saalmiete()
                tr
                  th(colspan=2) Saal
                  th(align='right', style='text-align: right;'): +currencySpan(kosten.saalmiete(), 'saalmiete')
              if kosten.bandTotalEUR()
                tr
                  th(colspan=2) Band
                  th(align='right', style='text-align: right;'): +currencySpan(kosten.bandTotalEUR(), 'bandTotalEUR')
              if kosten.gagenTotalEUR()
                tr
                  td(width='2%')
                  td(width='48%') 
                    if kosten.gageBAR()
                      b.text-danger: i.fas.fa-exclamation-triangle &nbsp; Gage BAR &nbsp;
                        i.fas.fa-exclamation-triangle
                    else
                      | Gage
                  td(align='right', width='50%'): +currencySpan(kosten.gagenTotalEUR(), 'gagenTotalEUR')
              if kosten.agenturTotalEUR()
                tr
                  td(width='2%')
                  td(width='48%') Agentur
                  td(align='right'): +currencySpan(kosten.agenturTotalEUR(), 'agenturTotalEUR')
              if unterkunft.kostenTotalEUR()
                tr
                  th(colspan=2) Hotel / Transport
                  th(align='right', style='text-align: right;'): +currencySpan(unterkunft.kostenTotalEUR(), 'kostenTotalEUR')
              if staff.staffTotalEUR()
                tr
                  th(colspan=2) Personal
                  th(align='right', style='text-align: right;'): +currencySpan(staff.staffTotalEUR(), 'staffTotalEUR')
              if werbung.marketingTotalEUR()
                tr
                  th(colspan=2) Werbung
                  th(align='right', style='text-align: right;'): +currencySpan(werbung.marketingTotalEUR(), 'marketingTotalEUR')
              if werbung.plakateTotalEUR()
                tr
                  td(width='2%')
                  td(width='48%') Plakate
                  td(align='right'): +currencySpan(werbung.plakateTotalEUR(), 'plakateTotalEUR')
              if werbung.mediaTotalEUR()
                tr
                  tdtd(width='2%')
                  tdtd(width='48%') Flyer/Layout
                  td(align='right'): +currencySpan(werbung.mediaTotalEUR(), 'mediaTotalEUR')

        if werbung.genehmigungenNum()
          if !werbung.genehmigt()
            p.text-danger
              .checkbox.abc-checkbox.abc-checkbox-danger
                input#genehmigungenEingeholt(type='checkbox')
                label.text-danger(for='genehmigungenEingeholt')
                  | &nbsp;Wir müssen noch Genehmigungen für #{werbung.genehmigungenNum()} Plakate einholen.
          else
            p.text-success
              .checkbox.abc-checkbox.abc-checkbox-success
                input#genehmigungenEingeholt(type='checkbox', checked='true')
                label.text-success(for='genehmigungenEingeholt')
                  | &nbsp;Wir haben die Genehmigungen für #{werbung.genehmigungenNum()} Plakate eingeholt.
  
        if agentur.name()
          +legendMitBody('agentur', 'Agentur: ' + agentur.name(), null, 'general', veranstaltung.kostenGesamtEUR())
            .card-body
              address
                strong #{agentur.ansprechpartner()} <br>
                | !{agentur.adresseHTML()} <br>
                | Tel.: #{agentur.telefon()} <br>
                | E-Mail: 
                span.mailtoify #{agentur.email()}
  
        +legendMitBody('vertrag', 'Vertrag (' + vertrag.art() + ')', null, 'general', veranstaltung.kostenGesamtEUR())
          table.table.table-sm
            for step in vertrag.workflow()
              tr: td
                .checkbox.abc-checkbox.abc-checkbox-success(style='margin-top: 0; margin-bottom: 0;')
                  input.vertragstep(type='checkbox', id=step, name=step, checked=vertrag.isChecked(step))
                  label(for=step)
                    | &nbsp;#{step}
            tr: td
              a.btn.btn-general(href=veranstaltung.fullyQualifiedUrlForVertrag() + '/' + vertrag.sprache(), title='Vertrag anzeigen')
                | Vertrag anzeigen
        if unterkunft.anzahlZimmer()
          +legendMitBody('hotelbuchung', 'Hotelbuchung', null, 'hotel', veranstaltung.kostenGesamtEUR())
            table.table.table-sm
              for step in unterkunft.workflow()
                tr: td
                  .checkbox.abc-checkbox.abc-checkbox-success(style='margin-top: 0; margin-bottom: 0;')
                    input.hotelstep(type='checkbox', id=step, name=step, checked=unterkunft.isChecked(step))
                    label(for=step)
                      | &nbsp;#{step}

block scripts
  script.
    $(document).ready(function () {
      $('.vertragstep').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl().replace('\'', '\\\'')}' + '/vertragStepClicked', {data: {step: this.name, checked: this.checked}});
      });
      
      $('.hotelstep').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl().replace('\'', '\\\'')}' + '/hotelStepClicked', {data: {step: this.name, checked: this.checked}});
      });
      
      $('#genehmigungenEingeholt').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl().replace('\'', '\\\'')}' + '/genehmigungenEingeholt', {data: {checked: this.checked}});
      });
      
    });
