include ../../../../views/formComponents

mixin staffRow(allUsers, staff, name, label)
  .row
    .col-8
      +multiselect('staff[' + name + ']', label, staff[name](), allUsers)
    .col-4
      +currency('staff[' + name + 'EUR]', 'Total', staff[name + 'EUR']())

mixin dropdownMitCheckbox(istVerantwortlich, name, label, staff, allUsers)
  -var internalID = name + (istVerantwortlich ? 'V' : '')
  -var selectID = 'staff[' + internalID + ']'
  -var checkID = 'staff[' + internalID + 'NotNeeded]'
  .form-group
    +controlLabel(selectID, (istVerantwortlich ? 'Verantw.' : label))
    .input-group
      select.form-control.selectpicker(multiple, id=selectID, name=selectID, data-selected-text-format='count > 2')
        each user in allUsers
          option(selected = staff[internalID]().indexOf(user) > -1) #{user}
      .input-group-append
        .input-group-text.pl-1.pr-0
          .form-check.abc-checkbox.abc-checkbox-success
            input.form-check-input(type='checkbox', id=checkID, name=checkID, checked=(!staff[internalID + 'NotNeeded']() ? 'true' : undefined))
            label.form-check-label(for=checkID || '') #{''}


mixin staffRowVerantwortlich(allUsers, staff, name, label)
  .row
    .col-4
      +dropdownMitCheckbox(true, name, label, staff, allUsers)
    .col-4
      +dropdownMitCheckbox(false, name, label, staff, allUsers)
    .col-4
      +currency('staff[' + name + 'EUR]', 'Total', staff[name + 'EUR']())


mixin staff(staff, allUsers)
  +legendMitBody('staff.pug', 'Staff', 'staffPreis', 'costs')
    +staffRowVerantwortlich(allUsers, staff, 'techniker', 'Techniker')
    +staffRowVerantwortlich(allUsers, staff, 'kasse', 'Kasse')
    +staffRow(allUsers, staff, 'merchandise', 'Merchandise')
    +staffRow(allUsers, staff, 'fremdpersonal', 'Fremdpersonal')

mixin staffScript
  script.
    $(document).ready(function () {
      var technik = $('#staff\\[technikerEUR\\]');
      var merch = $('#staff\\[merchandiseEUR\\]');
      var kasse = $('#staff\\[kasseEUR\\]');
      var fremd = $('#staff\\[fremdpersonalEUR\\]');

      function updateStaffTotal() {
        setEuro($('#staffPreis'), floatAmount(technik) + floatAmount(merch) + floatAmount(kasse) + floatAmount(fremd));
      }

      technik.keyup(updateStaffTotal);
      merch.keyup(updateStaffTotal);
      kasse.keyup(updateStaffTotal);
      fremd.keyup(updateStaffTotal);
      updateStaffTotal();
    });
    
