- var kasse = veranstaltung.kasse();
- var eintrittspreise = veranstaltung.eintrittspreise;

mixin localCurrency(value)
  span #{new Intl.NumberFormat('de-DE', {style: 'currency', currency: 'EUR'}).format(value)}

mixin currencyOrEmpty(value)
  if veranstaltung.istVergangen() && !!value
    +localCurrency(value)
  else
    | &nbsp;

mixin signbox(datum, rolle, name)
  .row
    .col-2
      p(style="line-height:3;"): b #{rolle}:
    .col-10
      p(style="line-height:3;border-bottom:1px dotted;") #{datum}
      p.text-center(style="margin-top:-10px; font-size:10px;") #{name}

doctype html
html
  head
    meta(charset="utf-8")
    link(href=publicUrlPrefix + '/stylesheets/screen.css', rel="stylesheet")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:p,500")

  body
    .container-fluid
      .row
        .col-12
          .float-right
            img(src=publicUrlPrefix + '/reporting/logo.png', height="80")
      .row
        .col-12
          .page-header
            .float-right
              address
                strong Jazzclub Karlsruhe e.V. <br>
                | Leopoldstr. 13 <br>
                | 76133 Karlsruhe
            h1(style="white-space: nowrap") Abendkasse
              br
              small(style="white-space: nowrap")
                | #{veranstaltung.datumForDisplay()}
      if !eintrittspreise.frei()
        .row
          .col-12
            h4 Eintrittspreise
              if (veranstaltung.reservixID)
                | &nbsp;(Reservix-Scanner mitnehmen!)
        .row
          .col-4
            p
              b Regulär:#{' '}
              +localCurrency(veranstaltung.eintrittspreise().regulaer())
          .col-4
            p
              b Ermäßigt:#{' '}
              +localCurrency(veranstaltung.eintrittspreise().ermaessigt())
          .col-4
            p
              b Mitglied:#{' '}
              +localCurrency(veranstaltung.eintrittspreise().mitglied())
      .row
        .col-6
          table.table.table-bordered.table-sm
            tr
              th Name:
              td #{veranstaltung.kopf.titel}
            tr
              th Ort:
              td #{veranstaltung.kopf.ort}
            tr
              th Datum:
              td #{veranstaltung.datumForDisplay()}
            tr
              th Besucher Abendkasse:
              td
                if veranstaltung.istVergangen()
                  | #{kasse.anzahlBesucherAK()}
                else
                  | &nbsp;

        .col-6
          table.table.table-bordered.table-sm
            tr
              th Anfangsbestand:
              td(align="right")
                +currencyOrEmpty(kasse.anfangsbestandEUR())
            tr
              th Einnahmen:
              td(align="right")
                +currencyOrEmpty(kasse.einnahmeTotalEUR())
            tr
              th Ausgaben:
              td(align="right")
                +currencyOrEmpty(kasse.ausgabenTotalEUR() * -1)
            tr
              th Endbestand:
              td(align="right")
                +currencyOrEmpty(kasse.endbestandEUR())
      .row
        .col-6
          table.table.table-bordered.table-sm
            tr: th.text-center(colspan=3) Einnahmen
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            tr
              td Ticketverkauf
              td
              td(align="right"): +currencyOrEmpty(kasse.einnahmeTicketsEUR())
            tr
              td Bareinlage
              td
              td(align="right"): +currencyOrEmpty(kasse.einnahmeBankEUR())
            tr
              td #{kasse.einnahmeSonstiges1Text()}
              td
              td(align="right"): +currencyOrEmpty(kasse.einnahmeSonstiges1EUR())
            tr
              td #{kasse.einnahmeSonstiges2Text()}
              td
              td(align="right"): +currencyOrEmpty(kasse.einnahmeSonstiges2EUR())
            tr
              td &nbsp;
              td
              td
            tr
              td &nbsp;
              td
              td
            tr
              td &nbsp;
              td
              td
            tr
              th Summe
              td
              td(align="right"): b: +currencyOrEmpty(kasse.einnahmeTotalEUR())

        .col-6
          table.table.table-bordered.table-striped.table-sm
            tr: th.text-center(colspan=3) Ausgaben
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            tr
              td Gage (bar)
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeGageEUR())
            tr
              td Catering
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeCateringEUR())
            tr
              td Personal
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeHelferEUR())
            tr
              td #{kasse.ausgabeSonstiges1Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges1EUR())
            tr
              td #{kasse.ausgabeSonstiges2Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges2EUR())
            tr
              td #{kasse.ausgabeSonstiges3Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges3EUR())
            tr
              td An Bank
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeBankEUR())
            tr
              th Summe
              td
              td(align="right"): b: +currencyOrEmpty(kasse.ausgabenTotalEUR())
      +signbox(veranstaltung.datumForDisplay(), 'Kassierer/-in', kassierer)
      +signbox(kasse.freigabeDisplayDatum(), 'Freigegeben', kasse.state.kassenfreigabe)
