extends ../../../views/layout
include ../../../views/formComponents
include mixins

mixin checkedButton(veranstaltung, section, name)
  if section.checked()
    .text-capitalize.alert-success: a.inherit-color(href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-check.fa-fw
      | #{' ' + name}
  else
    .text-capitalize.alert-danger: a.inherit-color(href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-exclamation-circle.fa-fw
      | #{' ' + name}

mixin multiselectSmall(id, name, value, tags)
  select.form-control.selectpicker(multiple, id=id, name=name, data-selected-text-format='count > 2')
    each tag in tags
      option(selected = value.indexOf(tag) > -1) #{tag}

mixin people(veranstaltung, name, allUsers)
  -var id = 'staff[' + name + 'NotNeeded]'
  +multiselectSmall('staff[' + name + ']' + veranstaltung.id(), 'staff[' + name + ']', veranstaltung.staff()[name](), allUsers.map(user => user.id))

mixin button(veranstaltung, name, allUsers)
  -var id = 'staff[' + name + 'NotNeeded]'
  .form-control-plaintext
    +checkbox(id, 'Benötigt', !veranstaltung.staff()[name + 'NotNeeded'](), veranstaltung.id())

mixin submitButtonsFor(veranstaltung, current, nosave)
  .btn-group.btn-group-sm.float-right
    +submitButton(veranstaltung, current, 'kopf', 'Allgemeines', 'btn-general', 'fa-keyboard')
    +submitButton(veranstaltung, current, 'ausgaben', 'Ausgaben', 'btn-costs', 'fa-euro-sign')
    +submitButton(veranstaltung, current, 'hotel', 'Hotel', 'btn-hotel', 'fa-bed')
    +submitButton(veranstaltung, current, 'kasse', 'Kasse', 'btn-kasse', 'fa-money-bill-alt')
    +submitButton(veranstaltung, current, 'kassenzettel', 'Kassenzettel', 'btn-kasse', 'fa-print')
    +submitButton(veranstaltung, current, 'presse', 'Presse', 'btn-presse', 'fa-newspaper')
    +submitButton(veranstaltung, current, 'copy', 'Kopieren', 'btn-light', 'fa-copy ')

mixin panelView(veranstaltungen)
  -var count = 0
  -var nearFuture = moment(); nearFuture.add(1, 'months')
  -var nearPast = moment(); nearPast.subtract(1, 'months')
  -var monatAlt = -1;
  | <div class='row'>
  for veranstaltung in veranstaltungen
    -var collapsed = veranstaltung.startMoment().isAfter(nearFuture) || veranstaltung.startMoment().isBefore(nearPast)
    -var kopf = veranstaltung.kopf()
    -var id = 'panel' + ++count
    -var staff = veranstaltung.staff()

    if monatAlt === -1 || monatAlt !== veranstaltung.startMoment().month()
      | </div><div class='row'>
      .col-12
        +monatHeadline(veranstaltung)
    -monatAlt = veranstaltung.startMoment().month();

    form#veranstaltungform.col-xl-4.col-md-6(action='/veranstaltungen/updateStaff', method='post')
      +hidden('id', veranstaltung.id())
      +csrf
      .card.mb-2(class = 'border-' + (kopf.cssColorCode() || 'general'))
        .card-header.p-0(class = 'color-' + (kopf.cssColorCode() || 'general'))
          table(width='100%')
            if !veranstaltung.kopf().confirmed()
              tr: td.p-0(colspan=2)
                h5.m-0.alert-danger.text-center
                  i.fas.fa-exclamation-circle.fa-fw
                  | #{' '} UNBESTÄTIGT #{' '}
                  i.fas.fa-exclamation-circle.fa-fw

          table(width='100%')
            tr.align-top
              td.text-left: .btn-group-vertical
                a.inherit-color.chevron.panel(data-toggle='collapse', data-target='#' + id)
                  if collapsed
                    i.far.fa-caret-square-right.fa-fw.fa-lg
                  else
                    i.far.fa-caret-square-down.fa-fw.fa-lg
              td: a.chevron(data-toggle='collapse', data-target='#' + id)
                h6 #{veranstaltung.datumForDisplayShort() + ' ' + kopf.presseIn()}

              td.text-right: .btn-group
                if veranstaltung.reservixID()
                  .btn.py-0.px-1.color-reservix
                    i.logo-reservix
                    | &nbsp; #{veranstaltung.kasse().anzahlBesucherReservix()}
                a.btn.btn-secondary.py-0.px-1(href=veranstaltung.fullyQualifiedUrl() + '/preview'): i.fas.fa-eye.fa-lg
            tr
              td
              td(colspan=2): a.chevron(data-toggle='collapse', data-target='#' + id)
                h5 #{kopf.titel()}
          table(width='100%')
            tr
              td.p-0(width='50%'): +checkedButton(veranstaltung, veranstaltung.presse(), 'presse')
              td.p-0(width='50%'): +checkedButton(veranstaltung, veranstaltung.kosten(), 'ausgaben')


        div(id = id, class = 'collapse' + (collapsed ? '' : ' show') + ' cardcontent')
          table.table.table-striped.table-sm
            tr: td(colspan=3)
              +submitButtonsFor(veranstaltung, null, true)

            tr: td(colspan=3): h5.mb-0 Kasse
            tr
              th(width='20em'): .form-control-plaintext Eins:
              td: +people(veranstaltung, 'kasseV', users)
              td(width='120em'): +button(veranstaltung, 'kasseV', users)
            tr
              th: .form-control-plaintext Zwei:
              td: +people(veranstaltung, 'kasse', users)
              td: +button(veranstaltung, 'kasse', users)
            tr: td(colspan=3): h5.mb-0 Technik
            tr
              th: .form-control-plaintext Eins:
              td: +people(veranstaltung, 'technikerV', users)
              td: +button(veranstaltung, 'technikerV', users)
            tr
              th: .form-control-plaintext Zwei:
              td: +people(veranstaltung, 'techniker', users)
              td: +button(veranstaltung, 'techniker', users)
            tr: td(colspan=3): h5.mb-0 Master
            tr
              th: .form-control-plaintext &nbsp;
              td: +people(veranstaltung, 'mod', users)
              td: +button(veranstaltung, 'mod', users)
            tr: td(colspan=3)
              button.btn.btn-sm.btn-success.float-right(type='submit'): i(class='fas fa-fw fa-save fa-lg')
  | </div>


block title
  | Veranstaltungen

block content
  .col-12
    .row
      .col-lg-8
        .page-header
          .btn-group.float-right
            a.btn.btn-light(href='/veranstaltungen/new', title='Neu'): i.far.fa-file.fa-fw
            a.btn.btn-light(href=webcalURL, title='als iCal'): i.far.fa-calendar-alt
            .dropdown
              a.btn.btn-light.dropdown-toggle(data-toggle='dropdown')
                | #{titel} &nbsp;
                span.caret
              .dropdown-menu
                a.dropdown-item(href='/veranstaltungen/zukuenftige') Zukünftige
                a.dropdown-item(href='/veranstaltungen/vergangene') Vergangene

          h2 Veranstaltungen
        +zuAufButtons
        +panelView(veranstaltungen)
      .col-lg-4
        +calendar(icals)

block head
  link(rel='stylesheet', href='/stylesheets/fullcalendar.css')

block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      }
      $('select[name="tshirt"]').change(shirtsizeChanged);

      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      }
      $('input[name="tel"]').change(telChanged);
    });

