extends ../../../views/layout
include ../../../views/formComponents

mixin editableMultiselectSmall(name, value, tags)
  .form-group
    select.form-control.form-control-sm.enhance(multiple, id=name, name=name, data-tags=true)
      each tag in tags
        option(selected = value.indexOf(tag) > -1) #{tag}

mixin orgaStaffField(veranstaltung, name, allUsers)
  td
    .form-inline(style='width:200px!important')
      +checkbox('staff[' + name + 'NotNeeded]', '', !veranstaltung.staff()[name + 'NotNeeded']())
      +editableMultiselectSmall('staff[' + name + ']', veranstaltung.staff()[name](), allUsers.map(user => user.id))
      
mixin tableForOrga(veranstaltungen)
  table.table.table-sm.table-responsive.table-striped(style='table-layout: fixed')
    -var monatAlt = -1;
    tr
      th(width='100') Datum
      th(width='300') Titel
      th Kasse&nbsp;1
      th Kasse&nbsp;2
      th Technik&nbsp;1
      th Technik&nbsp;2
      th MoD
      th(width='100') Speichern
    for veranstaltung in veranstaltungen
      if monatAlt === -1 || monatAlt !== veranstaltung.startMoment().month()
        tr: th(colspan=8, style=' background-color: rgb(200, 200, 200)') #{veranstaltung.startMoment().format('MMM \'YY')}
        -monatAlt = veranstaltung.startMoment().month();

      form#veranstaltungform(action='/teamseite/submit', method='post')
        tr
          +hidden('id', veranstaltung.id())
          +csrf
          td(style='white-space: nowrap'): p.form-control-plaintext #{veranstaltung.datumForDisplayShort()}
          td(style='white-space: nowrap'): p.form-control-plaintext(style='display:inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100%;')
            a(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben') #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
          +orgaStaffField(veranstaltung, 'kasseV', users)
          +orgaStaffField(veranstaltung, 'kasse', users)
          +orgaStaffField(veranstaltung, 'technikerV', users)
          +orgaStaffField(veranstaltung, 'techniker', users)
          +orgaStaffField(veranstaltung, 'mod', users)
          td: button.btn.btn-sm.btn-success(type='submit'): i(class='fa fa-fw fa-floppy-o')

block title
  | Teamadmin

block content
  .col-12
    .page-header
      h2 Team (Admin)
    +tableForOrga(veranstaltungen)
    .page-header
      h2 Übersicht der Benutzer
    -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
    table.table.table-sm.table-responsive.table-striped(style='table-layout: fixed')
        tr
          th(width='200') Name
          th(width='200') E-Mail
          th(width='150') T-Shirt
          th(width='150') Telefon
          th(width='200') Gruppen
        for user in users
          tr
            td: a.form-control-plaintext(href='/users/' + user.id) #{user.name}
            td: span.mailtoify.form-control-plaintext #{user.email}
            td
              select.form-control.form-control-sm.enhance(id=user.id, name='tshirt', style='width:100%')
                -var value = user.tshirt
                each val in shirtsizes
                  option(value = val, selected = value === val) #{val}
            td
              input.form-control.form-control-sm.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
            td #{user.gruppen.join(', ')}
            
block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
