extends ../../../views/layout
include ../../../views/formComponents
  
mixin buttonFor(veranstaltung, name, nameInMethod)
  td(style='white-space: nowrap') #{veranstaltung.staff()[name]()}
    | &nbsp;
    if !veranstaltung.staff()[name]().includes(user.id) && !veranstaltung.staff()[name]().includes(user.id.toLowerCase())
      a.btn.btn-success.btn-xs(href='/teamseite/add' + nameInMethod + '/' + veranstaltung.id()) +
    else
      a.btn.btn-danger.btn-xs(href='/teamseite/remove' + nameInMethod + '/' + veranstaltung.id()) -
  
block title
  | Teamseite

block content
  .row
    .col-xs12
      .page-header
        h2 Kommende Events
      table.table.table-condensed.table-responsive.table-striped
        tr
          th Datum
          th Titel
          th Kasse&nbsp;1
          th Kasse&nbsp;2
          th Technik&nbsp;1
          th Technik&nbsp;2
        for veranstaltung in veranstaltungen
          tr
            td(style='white-space: nowrap') #{veranstaltung.datumForDisplayShort()}
            td(style='white-space: nowrap')
              if accessrights.hasSomeGroupAssigned()
                a(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben') #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
              else
                | #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
            +buttonFor(veranstaltung, 'kasseV', 'KasseV')
            +buttonFor(veranstaltung, 'kasse', 'Kasse')
            +buttonFor(veranstaltung, 'technikerV', 'TechnikerV')
            +buttonFor(veranstaltung, 'techniker', 'Techniker')
          
