extends ../../../views/layout
include ../../../views/formComponents


mixin buttonFor(veranstaltung, name, nameInMethod)
  -var staff = veranstaltung.staff()
  td(style='white-space: nowrap')
    if !staff[name + 'NotNeeded']()
      if !staff[name]().includes(user.id) && !staff[name]().includes(user.id.toLowerCase())
        a.btn.btn-success.btn-xs(href='/teamseite/add' + nameInMethod + '/' + veranstaltung.id()) +
      else
        a.btn.btn-danger.btn-xs(href='/teamseite/remove' + nameInMethod + '/' + veranstaltung.id()) -
      span.text-capitalize &nbsp; #{staff[name]().join(', ')}
    else
      .text-warning [keine]

mixin tableForTeam(veranstaltungen)
  table.table.table-condensed.table-responsive.table-striped
    tr
      th Datum
      th Titel
      th Kasse&nbsp;1
      th Kasse&nbsp;2
      th Technik&nbsp;1
      th Technik&nbsp;2
    for veranstaltung in veranstaltungen
      tr
        td(style='white-space: nowrap') #{veranstaltung.datumForDisplayShort()}
        td(style='white-space: nowrap')
          if accessrights.hasSomeGroupAssigned()
            a(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben') #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
          else
            | #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
        +buttonFor(veranstaltung, 'kasseV', 'KasseV')
        +buttonFor(veranstaltung, 'kasse', 'Kasse')
        +buttonFor(veranstaltung, 'technikerV', 'TechnikerV')
        +buttonFor(veranstaltung, 'techniker', 'Techniker')

mixin orgaStaffField(veranstaltung, name, nameInMethod, allUsers)
  td(style='white-space: nowrap')
    +checkbox('staff[' + name + 'NotNeeded]', '', !veranstaltung.staff()[name + 'NotNeeded']())
    +editableMultiselect('staff[' + name + ']', null, veranstaltung.staff()[name](), allUsers.map(user => user.id))
      
mixin tableForOrga(veranstaltungen)
  table.table.table-condensed.table-responsive.table-striped(style='table-layout: fixed')
    tr
      th(width='200') Datum
      th(width='300') Titel
      th(width='250') Kasse&nbsp;1
      th(width='250') Kasse&nbsp;2
      th(width='250') Technik&nbsp;1
      th(width='250') Technik&nbsp;2
      th(width='100')
    for veranstaltung in veranstaltungen
      form#veranstaltungform(action='/teamseite/submit', method='post')
        tr.form-inline
          +hidden('id', veranstaltung.id())
          +csrf
          td(style='white-space: nowrap'): p.form-control-static #{veranstaltung.datumForDisplayShort()}
          td(style='white-space: nowrap'): p.form-control-static
            a(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben') #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
          +orgaStaffField(veranstaltung, 'kasseV', 'KasseV', users)
          +orgaStaffField(veranstaltung, 'kasse', 'Kasse', users)
          +orgaStaffField(veranstaltung, 'technikerV', 'TechnikerV', users)
          +orgaStaffField(veranstaltung, 'techniker', 'Techniker', users)
          td: button.btn.btn-primary(type='submit') Speichern

block title
  | Teamseite

block content

  .row
    .col-xs-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href=webcalURL, title='als iCal'): i.fa.fa-calendar.fa-fw
        h2 Kommende Events
        p <b>Kasse 1</b> und <b>Techniker 1</b> sind am Abend jeweils die <b>Verantwortlichen</b>. Bitte denke daran, rechtzeitig vor der Veranstaltung da zu sein!
        p Mit dem Knopf rechts kannst Du den Kalender abonnieren,
        if accessrights.isSuperuser()
          +tableForOrga(veranstaltungen)
        else
          +tableForTeam(veranstaltungen)
  .row
    .col-xs-12
      h2 Übersicht der Benutzer
      -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
      table.table.table-condensed.table-responsive.table-striped(style='table-layout: fixed')
          tr
            th(width='200') Name
            th(width='200') E-Mail
            th(width='150') T-Shirt
            th(width='150') Telefon
            if accessrights.isSuperuser()
              th(width='200') Gruppen
          for user in users
            tr.form-inline
              if accessrights.isSuperuser()
                td: a(href='/users/' + user.id) #{user.name}
              else
                td #{user.name}
              td: span.mailtoify #{user.email}
              td
                if accessrights.canEditTshirt(user.id)
                  select.form-control(id=user.id, name='tshirt', style='width:100%')
                    -var value = user.tshirt
                    each val in shirtsizes
                      option(value = val, selected = value === val) #{val}
                else
                  | #{user.tshirt}
              td
                if accessrights.canEditTshirt(user.id)
                  input.form-control.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
                else
                  | #{user.tel}
              if accessrights.isSuperuser()
                td #{user.gruppen.join(', ')}
            
block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
