extends ../../../views/layout
include ../../../views/formComponents


mixin buttonFor(veranstaltung, name, nameInMethod)
  -var staff = veranstaltung.staff()
  td(style='white-space: nowrap')
    if !staff[name + 'NotNeeded']()
      if !staff[name]().includes(user.id) && !staff[name]().includes(user.id.toLowerCase())
        a.btn.btn-success.btn-xs(href='/teamseite/add' + nameInMethod + '/' + veranstaltung.id()) +
      else
        a.btn.btn-danger.btn-xs(href='/teamseite/remove' + nameInMethod + '/' + veranstaltung.id()) -
      span.text-capitalize &nbsp; #{staff[name]().join(', ')}
    else
      .text-warning [keine]

mixin tableForTeam(veranstaltungen)
  table.table.table-condensed.table-responsive.table-striped
    -var monatAlt = -1;
    tr
      th Datum
      th Titel
      th Kasse&nbsp;1
      th Kasse&nbsp;2
      th Technik&nbsp;1
      th Technik&nbsp;2
      th Master
    for veranstaltung in veranstaltungen
      if monatAlt === -1 || monatAlt !== veranstaltung.startMoment().month()
        tr: th(colspan=7, style=' background-color: rgb(200, 200, 200)') #{veranstaltung.startMoment().format('MMM \'YY')}
        -monatAlt = veranstaltung.startMoment().month();

      tr
        td(style='white-space: nowrap') #{veranstaltung.datumForDisplayShort()}
        td(style='white-space: nowrap')
          if accessrights.isOrgaTeam()
            a(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben') #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
          else
            | #{veranstaltung.kopf().titel()} (#{veranstaltung.kopf().ort()})
        +buttonFor(veranstaltung, 'kasseV', 'KasseV')
        +buttonFor(veranstaltung, 'kasse', 'Kasse')
        +buttonFor(veranstaltung, 'technikerV', 'TechnikerV')
        +buttonFor(veranstaltung, 'techniker', 'Techniker')
        +buttonFor(veranstaltung, 'mod', 'MoD')
      
block title
  | Teamseite

block content

  .row
    .col-xs-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href=webcalURL, title='als iCal'): i.fa.fa-calendar.fa-fw
        h2 Team
        p <b>Kasse 1</b> und <b>Techniker 1</b> sind am Abend jeweils die <b>Verantwortlichen</b>. Bitte denke daran, rechtzeitig vor der Veranstaltung da zu sein!
        p Mit dem Knopf rechts kannst Du den Kalender abonnieren,
        +tableForTeam(veranstaltungen)
  .row
    .col-xs-12
      h2 Übersicht der Benutzer
      -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
      table.table.table-condensed.table-responsive.table-striped(style='table-layout: fixed')
          tr
            th(width='200') Name
            th(width='200') E-Mail
            th(width='150') T-Shirt
            th(width='150') Telefon
          for user in users
            tr.form-inline
              if accessrights.canEditUser(user.id)
                td: a.form-control-static(href='/users/' + user.id) #{user.name}
              else
                td: span.form-control-static #{user.name}
              td: span.mailtoify.form-control-static #{user.email}
              td
                if accessrights.canEditUser(user.id)
                  select.form-control.enhance(id=user.id, name='tshirt', style='width:100%')
                    -var value = user.tshirt
                    each val in shirtsizes
                      option(value = val, selected = value === val) #{val}
                else
                  span.form-control-static #{user.tshirt}
              td
                if accessrights.canEditUser(user.id)
                  input.form-control.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
                else
                  span.telify.form-control-static #{user.tel}
            
block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
