extends ../../../views/layout
include ../../../views/formComponents

mixin button(veranstaltung, name, nameInMethod)
  -var staff = veranstaltung.staff()
  if !staff[name + 'NotNeeded']()
    if !staff[name]().includes(user.id) && !staff[name]().includes(user.id.toLowerCase())
      a.btn.btn-success.btn-sm(href='/teamseite/add' + nameInMethod + '/' + veranstaltung.id()) Ich übernehme
    else
      a.btn.btn-danger.btn-sm(href='/teamseite/remove' + nameInMethod + '/' + veranstaltung.id()) Ich kann nicht

mixin people(veranstaltung, name, nameInMethod)
  -var staff = veranstaltung.staff()
  if staff[name + 'NotNeeded']()
    span.text-warning Niemand benötigt
  else
    span.text-capitalize #{staff[name]().join(', ')}

mixin panelView(veranstaltungen)
  -var count = 0
  .row
    for veranstaltung in veranstaltungen
      -var kopf = veranstaltung.kopf()
      .col-xl-3.col-lg-4.col-sm-6
        +panelMitBody('panel' + ++count, veranstaltung.datumForDisplayShort() + ' ' + kopf.presseIn() + ' :<br>' + kopf.titel(), null, kopf.cssColorCode(), null, veranstaltung.fullyQualifiedUrl() + '/ausgaben', 'fa-pencil-square-o')
          table.table.table-striped.table-sm
            tr: td(colspan=3): h5.mb-0 Kasse
            tr 
              th Eins: #{' '}
              td: +people(veranstaltung, 'kasseV', 'KasseV')
              td: +button(veranstaltung, 'kasseV', 'KasseV')
            tr
              th Zwei: #{' '}
              td: +people(veranstaltung, 'kasse', 'Kasse')
              td: +button(veranstaltung, 'kasse', 'Kasse')
            tr: td(colspan=3): h5.mb-0 Technik
            tr
              th Eins: #{' '}
              td: +people(veranstaltung, 'technikerV', 'TechnikerV')
              td: +button(veranstaltung, 'technikerV', 'TechnikerV')
            tr
              th Zwei: #{' '}
              td: +people(veranstaltung, 'techniker', 'Techniker')
              td: +button(veranstaltung, 'techniker', 'Techniker')
            tr: td(colspan=3): h5.mb-0 Master
            tr
              th &nbsp;
              td: +people(veranstaltung, 'mod', 'MoD')
              td: +button(veranstaltung, 'mod', 'MoD')
        

block title
  | Teamseite

block content
  .col-12
    .row
      .col-12
        .page-header
          .btn-group.float-right
            a.btn.btn-light(href=webcalURL, title='als iCal'): i.far.fa-calendar-alt.fa-fw
          h2 Team
        p <b>Kasse 1</b> und <b>Techniker 1</b> sind am Abend jeweils die <b>Verantwortlichen</b>. Bitte denke daran, rechtzeitig vor der Veranstaltung da zu sein!
        p Mit dem Knopf rechts kannst Du den Kalender abonnieren,
        +panelView(veranstaltungen)
    .row
      .col-12
        h2 Übersicht der Benutzer
        -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
        .table-responsive
          table.table.table-sm.table-striped(style='table-layout: fixed')
              tr
                th(width='200') Name
                th(width='200') E-Mail
                th(width='150') T-Shirt
                th(width='150') Telefon
              for user in users
                tr
                  if accessrights.canEditUser(user.id)
                    td: a.form-control-plaintext(href='/users/' + user.id) #{user.name} (click to edit)
                  else
                    td: span.form-control-plaintext #{user.name}
                  td: span.mailtoify.form-control-plaintext #{user.email}
                  td
                    if accessrights.canEditUser(user.id)
                      select.form-control.form-control-sm.enhance(id=user.id, name='tshirt', style='width:100%')
                        -var value = user.tshirt
                        each val in shirtsizes
                          option(value = val, selected = value === val) #{val}
                    else
                      span.form-control-plaintext #{user.tshirt}
                  td
                    if accessrights.canEditUser(user.id)
                      input.form-control.form-control-sm.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
                    else
                      span.telify.form-control-plaintext #{user.tel}
              
block scripts
  script.
    $(document).ready(function () {
      function shirtsizeChanged() {
        $.ajax('/users/tshirt-size-for', {data: {user: this.id, value: this.value}})
      } 
      $('select[name="tshirt"]').change(shirtsizeChanged);
      
      function telChanged() {
        $.ajax('/users/tel-for', {data: {user: this.id, value: this.value}})
      } 
      $('input[name="tel"]').change(telChanged);
    });
  
