extends ../../../views/layout
include ../../../views/formComponents
include mixins

mixin checkedButton(veranstaltung, section, name)
  if section.checked()
    .text-capitalize.alert-success: a.inherit-color(href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-check.fa-fw
      | #{' ' + name}
  else
    .text-capitalize.alert-danger: a.inherit-color(href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-exclamation-circle.fa-fw
      | #{' ' + name}

mixin multiselectSmall(id, name, value, tags)
  select.form-control.selectpicker(multiple, id=id, name=name, data-selected-text-format='count > 2')
    each tag in tags
      option(selected = value.indexOf(tag) > -1) #{tag}

mixin peopleAndButton(veranstaltung, name, allUsers)
  -var checkID = 'staff[' + name + 'NotNeeded]'
  .input-group
    +multiselectSmall('staff[' + name + ']' + veranstaltung.id(), 'staff[' + name + ']', veranstaltung.staff()[name](), allUsers.map(user => user.id))
    .input-group-append
      .input-group-text.pl-1.pr-0
        .form-check.abc-checkbox.abc-checkbox-success
          input.form-check-input(type='checkbox', id=checkID + veranstaltung.id(), name=checkID, checked=(!veranstaltung.staff()[name + 'NotNeeded']() ? 'true' : undefined))
          label.form-check-label(for=checkID + veranstaltung.id()) #{''}

mixin submitButtonsFor(veranstaltung)
  .btn-group.btn-group-sm.float-right.m-1
    +submitButton(veranstaltung, null, 'kopf', 'Allgemeines', 'general', 'fa-keyboard')
    +submitButton(veranstaltung, null, 'technik', 'Technik', 'technik', 'fa-microphone-alt')
    +submitButton(veranstaltung, null, 'ausgaben', 'Ausgaben', 'costs', 'fa-euro-sign')
    if veranstaltung.artist().brauchtHotel()
      +submitButton(veranstaltung, null, 'hotel', 'Hotel', 'hotel', 'fa-bed')
    +submitButton(veranstaltung, null, 'kasse', 'Kasse', 'kasse', 'fa-money-bill-alt')
    +submitButton(veranstaltung, null, 'presse', 'Presse', 'presse', 'fa-newspaper')
    if !veranstaltung.kopf().confirmed()
      a.btn.btn-light(href=veranstaltung.fullyQualifiedUrl() + '/delete', title='Löschen')
        i.fas.fa-fw.fa-trash-alt.text-danger
    +submitButton(veranstaltung, null, 'copy', 'Kopieren', 'secondary', 'fa-copy')
    button.btn.btn-sm.btn-success(type='submit'): i.fas.fa-fw.fa-save(title='Speichern')


mixin panelView(veranstaltungen)
  -var count = 0
  -var nearFuture = moment(); nearFuture.add(1, 'months')
  -var nearPast = moment(); nearPast.subtract(1, 'months')
  for month in Object.keys(groupedVeranstaltungen)
    -var veranstOfMonth = groupedVeranstaltungen[month]
    .row
      .col-12
        +monatHeadline(veranstOfMonth[0])
      for veranstaltung in veranstOfMonth
        -var collapsed = veranstaltung.startMoment().isAfter(nearFuture) || veranstaltung.startMoment().isBefore(nearPast)
        -var kopf = veranstaltung.kopf()
        -var id = 'panel' + ++count
        form#veranstaltungform.col-xl-4.col-md-6(action='/veranstaltungen/updateStaff', method='post')
          +hidden('id', veranstaltung.id())
          +csrf
          .card.mb-2(class = 'border-' + cssColorCode(kopf.eventTyp()))
            .card-header.p-0(class = 'color-' + cssColorCode(kopf.eventTyp()))
              table(width='100%')
                if !veranstaltung.kopf().confirmed()
                  tr: td.p-0(colspan=2)
                    h5.m-0.alert-danger.text-center
                      i.fas.fa-exclamation-circle.fa-fw
                      | #{' '} UNBESTÄTIGT #{' '}
                      i.fas.fa-exclamation-circle.fa-fw
              +standardCardTitle(veranstaltung, id)
              table(width='100%')
                tr
                  td.p-0(width='33%'): +checkedButton(veranstaltung, veranstaltung.presse(), 'presse')
                  td.p-0(width='33%'): +checkedButton(veranstaltung, veranstaltung.kosten(), 'technik')
                  if veranstaltung.artist().brauchtHotel()
                    td.p-0(width='33%'): +checkedButton(veranstaltung, veranstaltung.unterkunft(), 'hotel')


            div(id = id, class = 'collapse' + (collapsed ? '' : ' show') + ' cardcontent')
              +submitButtonsFor(veranstaltung)
              table.table.table-striped.table-sm
                tr: td(colspan=2): h5.mb-0 Kasse
                tr
                  th(width='20em'): .form-control-plaintext Eins:
                  td: +peopleAndButton(veranstaltung, 'kasseV', users)
                tr
                  th: .form-control-plaintext Zwei:
                  td: +peopleAndButton(veranstaltung, 'kasse', users)
                tr: td(colspan=3): h5.mb-0 Technik
                tr
                  th: .form-control-plaintext Eins:
                  td: +peopleAndButton(veranstaltung, 'technikerV', users)
                tr
                  th: .form-control-plaintext Zwei:
                  td: +peopleAndButton(veranstaltung, 'techniker', users)
                tr: td(colspan=3): h5.mb-0 Master
                tr
                  th: .form-control-plaintext &nbsp;
                  td: +peopleAndButton(veranstaltung, 'mod', users)


block title
  | Veranstaltungen

block content
  .col-12
    .row
      .col-lg-8
        .page-header
          .btn-group.float-right
            a.btn.btn-light(href='/veranstaltungen/new', title='Neu'): i.far.fa-file.fa-fw
            a.btn.btn-light(href=webcalURL, title='als iCal'): i.far.fa-calendar-alt
            .dropdown
              a.btn.btn-light.dropdown-toggle(data-toggle='dropdown')
                | #{titel} &nbsp;
                span.caret
              .dropdown-menu
                a.dropdown-item(href='/veranstaltungen/zukuenftige') Zukünftige
                a.dropdown-item(href='/veranstaltungen/vergangene') Vergangene

          h2 Veranstaltungen
        +zuAufButtons
        +panelView(veranstaltungen)
      .col-lg-4
        +calendar(icals)

block head
  link(rel='stylesheet', href='/stylesheets/fullcalendar.css')

