mixin userpanel(user, count, fromAdminPage)
  -var shirtsizes = ['', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL', 'No Shirt', 'Ladies\' XS', 'Ladies\' S', 'Ladies\' M', 'Ladies\' L', 'Ladies\' XL', 'Ladies\' XXL' ]
  -var editlink = accessrights.canEditUser(user.id) ? '/users/' + user.id : null
  .col-xl-3.col-lg-4.col-sm-6
    +legendMitBody('user' + count, user.name + ' (' + gruppenUndRechteText(user) + ')', null, null, null, fromAdminPage || accessrights.memberId() !== user.id)
      table.table.table-striped.table-sm
        tr
          th: .form-control-plaintext E-Mail:
          td: .mailtoify.form-control-plaintext #{user.email}
        if accessrights.canEditUser(user.id)
          tr
            th: .form-control-plaintext T-Shirt:
            td
              select.form-control.form-control-sm.enhance(id=user.id, name='tshirt', style='width:100%')
                -var value = user.tshirt
                each val in shirtsizes
                  option(value = val, selected = value === val) #{val}
          tr
            th: .form-control-plaintext Telefon:
            td: input.form-control.form-control-sm.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
        else
          tr
            th: .form-control-plaintext T-Shirt:
            td: .form-control-plaintext #{user.tshirt}
          tr
            th: .form-control-plaintext Telefon:
            td: .telify.form-control-plaintext #{user.tel}

mixin checkedButton(veranstaltung, section, name, stylename)
  if section.checked()
    .text-capitalize.text-success
      i.fas.fa-check.fa-fw
      | #{' ' + name}
  else
    .text-capitalize.text-danger
      i.fas.fa-exclamation-circle.fa-fw
      | #{' ' + name}
      
mixin zuAufButtons
  .row
    .col-12
      .btn-group.float-right
        a#closeAll.btn.btn-light(href='#' data-toggle='collapse', data-target='.cardcontent.show') Alle Zu
        a#openAll.btn.btn-light(href='#' data-toggle='collapse', data-target='.cardcontent:not(.show)') Alle Auf

mixin zuAufButtonsScript
  script.
    $(document).ready(function () {
      $('#openAll').click(function () {
        $('a.chevron i').removeClass('fa-caret-square-right')
        $('a.chevron i').addClass('fa-caret-square-down')
      });
      $('#closeAll').click(function () {
        $('a.chevron i').removeClass('fa-caret-square-down')
        $('a.chevron i').addClass('fa-caret-square-right')
      });
    });

