mixin userpanel(user, count, fromAdminPage)
  -var editlink = accessrights.canEditUser(user.id) ? '/users/' + user.id : null
  .col-xl-3.col-lg-4.col-sm-6
    +panelMitBody('user' + count, user.name + ' (' + gruppenUndRechteText(user) + ')', null, null, null, editlink, !(fromAdminPage || accessrights.memberId() === user.id))
      table.table.table-striped.table-sm
        tr
          th: .form-control-plaintext E-Mail:
          td: .mailtoify.form-control-plaintext #{user.email}
        if accessrights.canEditUser(user.id)
          tr
            th: .form-control-plaintext T-Shirt:
            td
              select.form-control.form-control-sm.enhance(id=user.id, name='tshirt', style='width:100%')
                -var value = user.tshirt
                each val in shirtsizes
                  option(value = val, selected = value === val) #{val}
          tr
            th: .form-control-plaintext Telefon:
            td: input.form-control.form-control-sm.trim-text(id=user.id, type='text', name='tel', value=user.tel, style='width:100%')
        else
          tr
            th: .form-control-plaintext T-Shirt:
            td: .form-control-plaintext #{user.tshirt}
          tr
            th: .form-control-plaintext Telefon:
            td: .telify.form-control-plaintext #{user.tel}
