mixin zuAufButtons
  .row
    .col-12
      .btn-group.btn-group-sm
        a#closeAll.btn.btn-light(href='#', data-toggle='collapse', data-target='.cardcontent.show', onClick='aufZuClicked(this)')
          i.far.fa-minus-square.fa-fw-fw-sm
          | #{' '} Alle Zu
        a#openAll.btn.btn-light(href='#', data-toggle='collapse', data-target='.cardcontent:not(.show)', onClick='aufZuClicked(this)')
          i.far.fa-plus-square.fa-fw-fw-sm
          | #{' '} Alle Auf
  script.
    function aufZuClicked(button) {
      if (button.text.includes('Auf')) {
        $('a.chevron.panel i').removeClass('fa-caret-square-right').addClass('fa-caret-square-down');
      } else {
        $('a.chevron.panel i').removeClass('fa-caret-square-down').addClass('fa-caret-square-right');
      }
    }

mixin calendar(icals)
  #calendar.mt-4
  link(rel='stylesheet', href='/stylesheets/fullcalendar.css')
  script(src='/clientscripts/fullcalendar.min.js')
  script.
    document.addEventListener('DOMContentLoaded', function () {
      var calElement = document.getElementById('calendar');
      if (!calElement) { return; }
      var calendar;
      var options = {
        header: {
          left: 'title',
          center: '',
          right: 'prev,today,next'
        },
        timezone: 'Europe/Berlin',
        timeFormat: 'HH:mm',
        displayEventTime: false,
        eventSources: !{JSON.stringify(icals)},
        eventMouseEnter: function (mouseEnterInfo) {
          var event = mouseEnterInfo.event;
          var day = event.start.getDay();
          $(mouseEnterInfo.el).tooltip({
            title: new Intl.DateTimeFormat('de').format(event.start, {
              hour: 'numeric',
              minute: 'numeric'
            }) + ': ' + event.title,
            trigger: 'manual',
            placement: (day < 4 && day > 0) ? 'right' : 'left',
            container: 'body',
            template: '<div class="tooltip" role="tooltip" style="max-width: 130px"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
          });
          $(mouseEnterInfo.el).tooltip('show');
        },
        eventMouseLeave: function (mouseLeaveInfo) {
          $(mouseLeaveInfo.el).tooltip('dispose');
        },
        eventClick: function (eventClickInfo) {
          $(eventClickInfo.el).tooltip('dispose');
        },
        themeSystem: 'bootstrap4',
        //aspectRatio: 1.2,
        height: 'auto',
        locale: 'de',
        views: {
          month: {
            titleFormat: {month: 'short', year: '2-digit'},
            lang: 'de',
            fixedWeekCount: false,
            showNonCurrentDates: false
          }
        },
        weekNumbers: true
      };
      calendar = new FullCalendar.Calendar(calElement, options);
      calendar.render();
    });

mixin standardCardTitle(veranstaltung, id, collapsed)
  -var kopf = veranstaltung.kopf()
  table(width='100%')
    tr.align-top
      td.text-left
        a.inherit-color.chevron.panel(data-toggle='collapse', data-target='#' + id)
          if collapsed
            i.far.fa-caret-square-right.fa-fw.fa-lg
          else
            i.far.fa-caret-square-down.fa-fw.fa-lg
      td: a.chevron(data-toggle='collapse', data-target='#' + id)
        h6 #{veranstaltung.datumForDisplayShort()}

      td.text-right: .btn-group
        if veranstaltung.reservixID()
          .btn.py-0.px-1.color-reservix
            i.logo-reservix
            | &nbsp; #{veranstaltung.salesreport().anzahlRegulaer()}
        a.btn.btn-secondary.py-0.px-1(href=veranstaltung.fullyQualifiedUrl() + '/preview'): i.fas.fa-eye.fa-lg
    tr
      td
      td(colspan=2): a.chevron(data-toggle='collapse', data-target='#' + id): h6 #{kopf.presseIn()}
    tr
      td
      td(colspan=2): a.chevron(data-toggle='collapse', data-target='#' + id): h5 #{kopf.titel()}
