mixin localCurrency(value)
  span #{new Intl.NumberFormat('de-DE', {style: 'currency', currency: 'EUR'}).format(value)}

mixin signbox(datum, rolle, name)
  .row
    .col-2
      p(style="line-height:3;"): b #{rolle}:
    .col-10
      p(style="line-height:3;border-bottom:1px dotted;") #{datum}
      p.text-center(style="margin-top:-10px; font-size:10px;") #{name}

doctype html
html
  - var heute = now.tagMonatJahrLang;
  head
    meta(charset="utf-8")
    link(href=publicUrlPrefix + '/stylesheets/screen.css', rel="stylesheet")
    link(href=publicUrlPrefix + '/stylesheets/fonts.css', rel="stylesheet")

  body
    .container-fluid
      .row
        .col-12
          .float-right
            img(src=publicUrlPrefix + '/reporting/logo.png', height="80")
      .row
        .col-12
          .page-header
            .float-right
              address
                strong Jazzclub Karlsruhe e.V. <br>
                | Leopoldstr. 13 <br>
                | 76133 Karlsruhe
            h1(style="white-space: nowrap") Kassenabrechnung #{datum.monatJahrKompakt}
      .row
        .col-6
          table.table.table-bordered.table-sm
            - var n = 0;
            tr: th.text-center(colspan=3) Einnahmen
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            while n < 19
              tr
                td &nbsp;
                td
                td
                - n++;
            tr
              th Summe
              td
              td

        .col-6
          table.table.table-bordered.table-sm
            - var n = 0;
            tr: th.text-center(colspan=3) Ausgaben
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            while n < 18
              tr
                td &nbsp;
                td
                td
                - n++;
            tr
              td An Bank
              td
              td
            tr
              th Summe
              td
              td
      +signbox(heute, 'Kassierer/-in')
      +signbox(heute, 'Freigegeben')
