doctype html
html(style="-webkit-print-color-adjust: exact;")
  head
    meta(charset="utf-8")
    link(href=publicUrlPrefix + '/stylesheets/screen.css', rel="stylesheet")
    link(href=publicUrlPrefix + '/fonts/fonts.css', rel="stylesheet")

  body
    .row
      .col-10: div#container(style="position: relative; width: 100%; height: 720px; border: 1px solid black; overflow: clip")
        div(style="position: absolute; left: 10px; top: 10px;")
          h3 #{veranstaltung.kopf.titel} #{" "}
            small #{veranstaltung.datumForDisplayShort}

        each box in boxes
          if box.img
            div(id=box.id, style=box.divStyleForImg): img(src=`${publicUrlPrefix}/riderimg/${box.img.src}`, style=box.imgStyle)
          else
            div(id=box.id, style=box.divStyleForBox)
              b(style="background-color: lightsalmon; color: white;") &uarr; Front &uarr;
              br
              b #{box.title}
      .col-2
        h3 Infos
        each box in boxes
          if !box.img && box.comment
            hr
            h5: b #{box.title}
            p #{box.comment}
