extends ../../../views/layout
include ../../../views/formComponents

block title
  | Bilder bearbeiten

block content
  .col-12
    .page-header
      h2 Bilder bearbeiten
    table.table.table-sm.table-striped
      tr
        th(style="width:50%") Bild
        th Veranstaltung
        th &nbsp;
      each row in imagesWithVeranstaltungen
        form(action="imagenameSubmit", method="post")
          tr
            +csrf
            +hidden("oldname", row.image)
            +hidden("ids", row.veranstaltungen.map(v => v.id))
            td(style="white-space: nowrap"): input.form-control.trim-text(type="text", name="newname", value=row.image)
            td
              each v in row.veranstaltungen
                span.form-control-plaintext
                  a.font-weight-bold(href=v.fullyQualifiedUrl + '/presse') #{v.titel}
                  | &nbsp; #{v.startDate.tagMonatJahrKompakt}<br>
            td: button.btn.btn-primary.float-right(type="submit"): i.far.fa-fw.fa-copy
      tr
        th(colspan="3") UNBENUTZT
      each row in imagesWithVeranstaltungenUnused
        form(action="imagenameSubmit", method="post")
          tr
            +csrf
            +hidden("oldname", row.image)
            +hidden("ids", row.veranstaltungen.map(v => v.id))
            td(style="white-space: nowrap"): input.form-control.trim-text(type="text", name="newname", value=row.image)
            td
              each v in row.veranstaltungen
                span.form-control-plaintext
                  a.font-weight-bold(href=v.fullyQualifiedUrl + '/presse') #{v.titel}
                  | &nbsp; #{v.startDate.tagMonatJahrKompakt}<br>
            td: button.btn.btn-primary.float-right(type="submit"): i.far.fa-fw.fa-copy
      tr
        th(colspan="3") NICHT GEFUNDEN
      each row in imagesWithVeranstaltungenNotFound
        form(action="imagenameSubmit", method="post")
          tr
            +csrf
            +hidden("oldname", row.image)
            +hidden("ids", row.veranstaltungen.map(v => v.id))
            td(style="white-space: nowrap"): input.form-control.trim-text(type="text", name="newname", value=row.image)
            td
              each v in row.veranstaltungen
                span.form-control-plaintext
                  a.font-weight-bold(href=v.fullyQualifiedUrl + '/presse') #{v.titel}
                  | &nbsp; #{v.startDate.tagMonatJahrKompakt}<br>
            td: button.btn.btn-primary.float-right(type="submit"): i.far.fa-fw.fa-copy
