extends ../../../views/layout
include ../../../views/formComponents
include werbung
include staff

block title
  | Veranstaltung

block content
  -var kosten = veranstaltung.kosten()
  -var werbung = veranstaltung.werbung()
  -var staff = veranstaltung.staff()

  form#ausgabenform(action='/veranstaltungen/submit', method='post')
    +csrf
    +hidden('id', veranstaltung.id())
    fieldset
      .row
        .col-md-12
          +submitButtons()
          .page-header
            h2 Kosten für #{veranstaltung.datumForDisplay()}<br>
              small #{veranstaltung.titel()} im #{veranstaltung.ort()}
      .row
        .col-md-6
          legend
            a(data-toggle='collapse', href='#backline') Backline
            #backlinePreis.pull-right 
          #backline.collapse.in
            .row
              .col-sm-9
                +text('kosten[rider]', 'Rider', kosten.rider())
            .row
              .col-sm-9
                +editableMultiselect('kosten[backlineJazzclub]', 'Backline Jazzclub', kosten.backlineJazzclub(), optionen.backlineJazzclub())
            .row
              .col-sm-9
                +editableMultiselect('kosten[backlineRockshop]', 'Backline Rockshop', kosten.backlineRockshop(), optionen.backlineRockshop())
              .col-sm-3
                +currency('kosten[backlineEUR]', 'Betrag Rockshop', kosten.backlineEUR())
          legend
            a(data-toggle='collapse', href='#saalmiete') Saalmiete
            #saalmietePreis.pull-right
          #saalmiete.collapse.in
            .row
              .col-sm-9
                .form-group
                  label.control-label(for='location') Location:
                  select#location.form-control(name='kosten[saal]')
                    for saal in optionen.kooperationen()
                      option(value=saal, selected = (kosten.saal() !== undefined && kosten.saal() === saal)) #{saal}
              .col-sm-3
                +currency('kosten[saalmiete]', 'Betrag', kosten.saalmiete())
          legend
            a(data-toggle='collapse', href='#technik') Technik
            +currencySpan('technikTotal', 'pull-right')
          #technik.collapse.in
            .row
              .col-sm-9
                +text('kosten[technikJazzclub]', 'Jazzclub', kosten.technikJazzclub())
            .row
              .col-sm-9
                +text('kosten[technikAngebot1]', 'Angebot 1', kosten.technikAngebot1())
              .col-sm-3
                +currency('kosten[technikAngebot1EUR]', 'Betrag', kosten.technikAngebot1EUR())
            .row
              .col-sm-9
                +text('kosten[technikAngebot2]', 'Angebot 2', kosten.technikAngebot2())
              .col-sm-3
                +currency('kosten[technikAngebot2EUR]', 'Betrag', kosten.technikAngebot2EUR())
          legend
            a(data-toggle='collapse', href='#band') Band
            +currencySpan('bandTotal', 'pull-right')
          #band.collapse.in
            .row
              .col-xs-3(style='padding-right: 5px;')
                +currency('kosten[gagenEUR]', 'Gagen', kosten.gagenEUR())
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
                .form-group
                  label.control-label(for='gagenMWSt') MWSt:
                  select#gagenMWSt.form-control(name='kosten[gagenMWSt]')
                    for wert in ['ohne', '7%', '19%']
                      option(value=wert, selected = (kosten.gagenMWSt() === wert)) #{wert}
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
                .form-group
                  label.control-label(for='gagenAuslandSt') Ausl.St.:
                  select#gagenAuslandSt.form-control(name='kosten[gagenAuslandSt]')
                    for wert in ['ohne', '18,8%']
                      option(value=wert, selected = (kosten.gagenAuslandSt() === wert)) #{wert}
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
                .form-group
                  label.control-label(for='deal') Deal:
                  select#deal.form-control(name='kosten[deal]')
                    for wert in ['ohne', '100%', '90%', '80%', '70%', '60%']
                      option(value=wert, selected = (kosten.deal() === wert)) #{wert}
              .col-xs-3(style='padding-left: 5px;')
                .form-group
                  label.control-label Total:
                  p: b
                    +currencySpan('gagenTotal', 'form-control-static pull-right')
            .row
              .col-xs-3(style='padding-right: 5px;')
                +currency('kosten[agenturEUR]', 'Agentur', kosten.agenturEUR())
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
                .form-group
                  label.control-label(for='agenturMWSt') MWSt:
                  select#agenturMWSt.form-control(name='kosten[agenturMWSt]')
                    for wert in ['ohne', '7%', '19%']
                      option(value=wert, selected = (kosten.agenturMWSt() === wert)) #{wert}
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
              .col-xs-3(style='padding-left: 5px;')
                .form-group
                  label.control-label Total:
                  p: b
                    +currencySpan('agenturTotal', 'form-control-static pull-right')
            .row
              .col-xs-3(style='padding-right: 5px;')
                +currency('kosten[cateringEUR]', 'Catering (Kopf)', kosten.cateringEUR())
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
                .form-group
                  label.control-label Anzahl:
                  p: span#cateringNum.form-control-static.pull-right #{veranstaltung.numForCatering()}

              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
              .col-xs-2(style='padding-left: 2px;padding-right: 2px;')
              .col-xs-3(style='padding-left: 5px;')
                .form-group
                  label.control-label Total:
                  p: b
                    +currencySpan('cateringTotal', 'form-control-static pull-right')
        .col-md-6
          +staff
          legend
            a(data-toggle='collapse', href='#plakate') Marketing
            +currencySpan('werbungTotal', 'pull-right')
          #plakate.collapse.in
            +plakateRow('kulturring', 'Kulturring', ['A1', 'A2'])
            +plakateRow('gruene', 'Grüne', ['A1'])
            +plakateRow('spitzer', 'Spitzer', ['A1'])
            +plakateRow('ralf', 'Ralf', ['A3'])
            .row
              .col-md-12
                .checkbox
                  label
                    input(type='checkbox', name='werbung[genehmigt]', checked=(werbung.genehmigt() ? 'true' : undefined))
                    p: b Wir müssen <span id="anzahlPlakate">#{werbung.anzahlPlakate()}</span> Genehmigungen beantragen!
            hr
            +marketingRow('flyer', 'Flyer')
            +marketingRow('banner', 'Banner etc.')
            +marketingRow('socialmedia', 'Social Media')
      .row
        .col-md-12
          hr
          +submitButtons()
          
block scripts
  script.
    $('.currency').each(function () {
      $(this).autoNumeric('init');
    });
    var backlineEUR = $('#kosten\\[backlineEUR\\]');
    var saalmiete = $('#kosten\\[saalmiete\\]');
    var technikAngebot1EUR = $('#kosten\\[technikAngebot1EUR\\]');
    var technikAngebot2EUR = $('#kosten\\[technikAngebot2EUR\\]');
    var gagenEUR = $('#kosten\\[gagenEUR\\]');
    var gagenMWSt = $('#gagenMWSt');
    var gagenAuslandSt = $('#gagenAuslandSt');
    var agenturEUR = $('#kosten\\[agenturEUR\\]');
    var agenturMWSt = $('#agenturMWSt');
    var cateringEUR = $('#kosten\\[cateringEUR\\]');

    var gagenTotal = $('#gagenTotal');
    var agenturTotal = $('#agenturTotal');
    var cateringTotal = $('#cateringTotal');
    
    function updateBacklinePreis() { $('#backlinePreis').html(backlineEUR.val()); }
    function updateSaalmietePreis() { $('#saalmietePreis').html(saalmiete.val()); }
    function updateTechnikPreis() {
      var a1 = parseFloat(technikAngebot1EUR.autoNumeric('get'), 10);
      var a2 = parseFloat(technikAngebot2EUR.autoNumeric('get'), 10);
      $('#technikTotal').autoNumeric('set', a1 + a2); 
    }
    
    function updateGagenTotal() {
      var eur = parseFloat(gagenEUR.autoNumeric('get'), 10);
      var mwst = parseFloat(gagenMWSt.val().replace(',', '.')) || 0;
      var foreignTax = parseFloat(gagenAuslandSt.val().replace(',', '.')) || 0;
      var total = eur + (eur * mwst / 100) + (eur * foreignTax / 100);
      gagenTotal.autoNumeric('set', total);
      gagenTotal.change();
    }
    
    function updateAgenturTotal() {
      var eur = parseFloat(agenturEUR.autoNumeric('get'), 10);
      var mwst = parseFloat(agenturMWSt.val().replace(',', '.')) || 0;
      var total = eur + (eur * mwst / 100);
      agenturTotal.autoNumeric('set', total);
      agenturTotal.change();
    }
    
    function updateCateringTotal() {
      var eur = parseFloat(cateringEUR.autoNumeric('get'), 10);
      var num = parseInt($('#cateringNum').text(), 10) || 0;
      var total = eur * num;
      cateringTotal.autoNumeric('set', total);
      cateringTotal.change();
    }
    
    function updateBandTotal() {
      var gage = parseFloat(gagenTotal.autoNumeric('get')) || 0;
      var agentur = parseFloat(agenturTotal.autoNumeric('get')) || 0;
      var cat = parseFloat(cateringTotal.autoNumeric('get')) || 0;
      $('#bandTotal').autoNumeric('set', gage + agentur + cat);
    }
    
    backlineEUR.keyup(updateBacklinePreis);
    saalmiete.keyup(updateSaalmietePreis);
    technikAngebot1EUR.keyup(updateTechnikPreis);
    technikAngebot2EUR.keyup(updateTechnikPreis);

    gagenEUR.keyup(updateGagenTotal);
    gagenMWSt.change(updateGagenTotal);
    gagenAuslandSt.change(updateGagenTotal);
    agenturEUR.keyup(updateAgenturTotal);
    agenturMWSt.change(updateAgenturTotal);
    cateringEUR.keyup(updateCateringTotal);

    gagenTotal.change(updateBandTotal);

    updateBacklinePreis();
    updateSaalmietePreis();
    updateTechnikPreis();
    updateGagenTotal();
    updateAgenturTotal();
    updateCateringTotal();
    updateBandTotal();

    var groessenUndFaktoren = {
      kulturring: {A1: 1.5, A2: 1},
      gruene: {A1: 7.5},
      spitzer: {A1: 3.5},
      ralf: {A3: 1}
    }
    function updatePlakateTotal() {
      var kulturring = parseFloat($('#kulturringTotal').autoNumeric('get')) || 0;
      var gruene = parseFloat($('#grueneTotal').autoNumeric('get')) || 0;
      var spitzer = parseFloat($('#spitzerTotal').autoNumeric('get')) || 0;
      var ralf = parseFloat($('#ralfTotal').autoNumeric('get')) || 0;
      var flyer = parseFloat($('#flyerTotal').autoNumeric('get')) || 0;
      var banner = parseFloat($('#bannerTotal').autoNumeric('get')) || 0;
      var socialmedia = parseFloat($('#socialmediaTotal').autoNumeric('get')) || 0;
      $('#werbungTotal').autoNumeric('set', kulturring + gruene + spitzer + ralf + flyer +banner +socialmedia);
      
      var kulturringNum = parseInt($('#werbung\\[kulturringNum\\]').val(), 10) || 0;
      var grueneNum = parseInt($('#werbung\\[grueneNum\\]').val(), 10) || 0;
      var spitzerNum = parseInt($('#werbung\\[spitzerNum\\]').val(), 10) || 0;
      var ralfNum = parseInt($('#werbung\\[ralfNum\\]').val(), 10) || 0;
      $('#anzahlPlakate').html(kulturringNum + grueneNum + spitzerNum + ralfNum);
    }


  +plakateScript('kulturring')
  +plakateScript('gruene')
  +plakateScript('spitzer')
  +plakateScript('ralf')
  +marketingScript('flyer')
  +marketingScript('banner')
  +marketingScript('socialmedia')
  +staffScript
  script(src='/clientscripts/check-ausgabenform.js')
