extends ../../../views/layout
include ../../../views/formComponents
include kontakt


mixin zimmerNumEUR(name, label)
  .col-sm-4
    .row
      .col-xs-6
        +number('unterkunft[' + name + 'Num]', label, unterkunft[name + 'Num'](), null, '0', '80')
      .col-xs-6
        +currency('unterkunft[' + name + 'EUR]', 'Preis', unterkunft[name + 'EUR']())


block title
  | Veranstaltung

block content
  -var unterkunft = veranstaltung.unterkunft()

  form#hotelform(action='/veranstaltungen/submit', method='post')
    +csrf
    +hidden('id', veranstaltung.id())
    +hidden('kopf[confirmed]', veranstaltung.kopf().confirmed() ? 'on' : undefined)
    fieldset
      .row
        .col-md-12
          +submitButtonsFor(veranstaltung, 'hotel')
          .page-header
            h2 Hotel für #{veranstaltung.datumForDisplay()}<br>
              small #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}
      .row
        .col-md-12
          .btn-group
            a.btn.btn-default(href=veranstaltung.fullyQualifiedUrl() + '/hotelMail/reminder', title='Erinnerung')
              i.fa.fa-envelope.fa-fw.fa-lg
              | &nbsp;Infomail an #{hotelMailReceiver}
            a.btn.btn-default(href=veranstaltung.fullyQualifiedUrl() + '/hotelMail/preview', title='Vorschau')
              i.fa.fa-envelope.fa-fw.fa-lg
              | &nbsp;Reservierungsvorschau an mich
            a.btn.btn-primary(href=veranstaltung.fullyQualifiedUrl() + '/hotelMail/reservation', title='Reservierung')
              i.fa.fa-envelope-o.fa-fw.fa-lg
              | &nbsp;Reservierung an Hotel
      .row
        .col-md-6
          +kontakt(veranstaltung, optionen.hotels(), 'Hotel', 'hotel', 'color-hotel')
          +legendMitBody('zimmer', 'Zimmer', 'roomsTotal', 'color-hotel')
            .row
              .col-xs-4()
                +date('unterkunft[anreiseDate]', 'Anreise', unterkunft.anreiseDisplayDate(), 'Diese Werte haben Einfluß auf den berechneten Preis', unterkunft.minimalStartForHotel())
                +date('unterkunft[abreiseDate]', 'Abreise', unterkunft.abreiseDisplayDate(), null, unterkunft.minimalStartForHotel())
                label
                  span#naechte 0
                  span #{''} Nächte
              .col-xs-8()
                +textareaPure('unterkunft[kommentar]', 'Kommentar', unterkunft.kommentar(), 'Name der Gäste')
            .row
              +zimmerNumEUR('einzel', 'Einzel')
              +zimmerNumEUR('doppel', 'Doppel')
              +zimmerNumEUR('suite', 'Suite')
            .row
              .col-xs-12
                +checkbox('hotelpreise', 'Preise als Default übernehmen')
            .row
              for step in unterkunft.workflow()
                .col-xs-6
                  .checkbox(class=unterkunft.isChecked(step) && 'checkbox-success', style='margin-top: 0; margin-bottom: 0;')
                    input.hotelstep(type='checkbox', id=step, name=step, checked=unterkunft.isChecked(step))
                    label(for=step)
                      | &nbsp;#{step}
            
        .col-md-6
          +legendMitBody('transport', 'Transport', 'transportTotal', 'color-hotel')
            +textareaPure('unterkunft[transportText]', 'Anmerkungen', unterkunft.transportText(), 'Wer, wann, wo abholen, hinbringen?')
            .row
              .col-md-6
                +multiselect('unterkunft[sonstiges]', 'Bus / Sonstiges', unterkunft.sonstiges(), ['Parkgenehmigung', 'Stromanschluss'])
              .col-md-6
                +currency('unterkunft[transportEUR]', 'Summe', unterkunft.transportEUR())
      .row
        .col-md-12
          hr
          +submitButtonsFor(veranstaltung, 'hotel')
block scripts
  +kontaktScript('hotel', 'hotelchanged')
  script.
    var updatePreise;
    function hotelchanged(auswahl) {
      $.ajax('/optionen/preiseForAuswahl', {data: {auswahl: auswahl}})
       .done(function (result) {
         if (result) {
           updatePreise(result);
         }
       })
    }

    $(document).ready(function() {
      var einzelEUR = $('#unterkunft\\[einzelEUR\\]');
      var einzelNum = $('#unterkunft\\[einzelNum\\]');
      var doppelEUR = $('#unterkunft\\[doppelEUR\\]');
      var doppelNum = $('#unterkunft\\[doppelNum\\]');
      var suiteEUR = $('#unterkunft\\[suiteEUR\\]');
      var suiteNum = $('#unterkunft\\[suiteNum\\]');
      var startDateField = $('#unterkunft\\[anreiseDate\\]');
      var endDateField = $('#unterkunft\\[abreiseDate\\]');

      updatePreise = function(preise) {
        einzelEUR.autoNumeric('set', preise.einzelEUR);
        doppelEUR.autoNumeric('set', preise.doppelEUR);
        suiteEUR.autoNumeric('set', preise.suiteEUR);
      }
      
      function updateRoomsTotal() {
        var startDate = startDateField.datepicker('getDate');
        var endDate = endDateField.datepicker('getDate');
        var days = startDate && endDate ? moment(endDate).diff(startDate, 'days') : 0;
        
        var total = eurAmount(einzelEUR) * intAmount(einzelNum) * days 
          + eurAmount(doppelEUR) * intAmount(doppelNum) * days
          + eurAmount(suiteEUR) * intAmount(suiteNum) * days;
        $('#roomsTotal').autoNumeric('set', total);
        $('#naechte').html(days);
      }

      [einzelEUR, doppelEUR, suiteEUR, startDateField, endDateField].forEach(function(field) {
        field.keyup(updateRoomsTotal);
      });
      [einzelNum, doppelNum, suiteNum, startDateField, endDateField].forEach(function(field) {
        field.change(updateRoomsTotal);
      });
      updateRoomsTotal();

      var transportEUR = $('#unterkunft\\[transportEUR\\]');
      function updateTransportTotal() {
        $('#transportTotal').autoNumeric('set', eurAmount(transportEUR))
      }

      transportEUR.keyup(updateTransportTotal);
      updateTransportTotal();

      $('.hotelstep').click(function () {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/hotelStepClicked"}', {
          data: {
            step: this.name,
            checked: this.checked
          }
        });
      });
    });
  script(src='/clientscripts/check-hotelform.js')
