include ../../../views/layoutComponents
include ../../../views/formComponents


-var kasse = veranstaltung.kasse()
-var eintrittspreise = veranstaltung.eintrittspreise()
  
mixin currencyOrEmpty(value)
  if veranstaltung.istVergangen()
    +currencySpan(value, '')
  else
    | &nbsp;


doctype html
html
  head
    meta(charset='utf-8')
    link(href='public/stylesheets/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:p,500')

  body(style='zoom: 0.7')
    .container
      .row
        .col-xs-12
          .page-header
            .pull-right
              address
                strong Jazzclub Karlsruhe e.V. <br>
                | Leopoldstr. 13 <br>
                | 76133 Karlsruhe
            h1(style='white-space: nowrap') Kassenbuch - Abendkasse
              br
              small(style='white-space: nowrap')
                | #{veranstaltung.kopf().eventTyp()} am #{veranstaltung.datumForDisplay()}
                if veranstaltung.artist().isBawue()
                  | &nbsp;(Baden-Württemberg)
      if !eintrittspreise.frei()
        .row
          .col-md-12
            h4 Eintrittspreise
              if (veranstaltung.reservixID())
                | &nbsp;(Reservix-Scanner mitnehmen!)
        .row
          .col-xs-4
            p
              b Regulär: 
              +currencySpan(veranstaltung.eintrittspreise().regulaer(), '')
          .col-xs-4
            p
              b Ermäßigt: 
              +currencySpan(veranstaltung.eintrittspreise().ermaessigt(), '')
          .col-xs-4
            p
              b Mitglied: 
              +currencySpan(veranstaltung.eintrittspreise().mitglied(), '')
      .row
        .col-xs-6
          table.table.table-bordered
            tr
              th Name:
              td #{veranstaltung.kopf().titel()}
            tr
              th Ort:
              td #{veranstaltung.kopf().ort()}
            tr
              th Datum:
              td #{veranstaltung.datumForDisplay()}
            tr
              th Besucher Abendkasse:
              td
                if veranstaltung.istVergangen()
                  | #{kasse.anzahlBesucherAK()}
                else
                  | &nbsp;
                

        .col-xs-6
          table.table.table-bordered
            tr
              th Anfangsbestand:
              td(align='right')
                +currencyOrEmpty(kasse.anfangsbestandEUR())
            tr
              th Einnahmen:
              td(align='right')
                +currencyOrEmpty(kasse.einnahmeTotalEUR())
            tr
              th Ausgaben:
              td(align='right')
                +currencyOrEmpty(kasse.ausgabenTotalEUR() * -1)
            tr
              th Endbestand:
              td(align='right')
                +currencyOrEmpty(kasse.endbestandEUR())
      .row
        .col-xs-6
          table.table.table-bordered.table-striped
            tr
              th.text-center(colspan=3) Einnahmen
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            tr
              td Ticketverkauf
              td
              td(align='right'): +currencyOrEmpty(kasse.einnahmeTicketsEUR())
            tr
              td Bareinlage
              td
              td(align='right'): +currencyOrEmpty(kasse.einnahmeBankEUR())
            tr
              td #{kasse.einnahmeSonstiges1Text()}
              td
              td(align='right'): +currencyOrEmpty(kasse.einnahmeSonstiges1EUR())
            tr
              td #{kasse.einnahmeSonstiges2Text()}
              td
              td(align='right'): +currencyOrEmpty(kasse.einnahmeSonstiges2EUR())
            tr
              td &nbsp;
              td
              td
            tr
              td &nbsp; 
              td
              td
            tr
              td &nbsp;
              td
              td
        .col-xs-6
          table.table.table-bordered.table-striped
            tr
              th.text-center(colspan=3) Ausgaben
            tr
              th Verwendungszweck
              th Beleg-Nr.
              th.text-right Betrag
            tr
              td Gage (bar)
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeGageEUR())
            tr
              td Catering
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeCateringEUR())
            tr
              td Personal
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeHelferEUR())
            tr
              td #{kasse.ausgabeSonstiges1Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges1EUR())
            tr
              td #{kasse.ausgabeSonstiges2Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges2EUR())
            tr
              td #{kasse.ausgabeSonstiges3Text()}
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeSonstiges3EUR())
            tr
              td An Bank
              td
              td.text-right: +currencyOrEmpty(kasse.ausgabeBankEUR())
      .row        
        .col-xs-6
          p
            b Kassiererin / Kassierer:
            | &nbsp; #{kassierer}
        .col-xs-6
          p: b Unterschrift:

script(src='public/clientscripts/global.js')
