extends ../../../views/layout
include ../../../views/formComponents
include werbung
include staff
include band

block title
  | Veranstaltung

block content
  -var kasse = veranstaltung.kasse()
  -var kosten = veranstaltung.kosten()

  form#kasseform(action='/veranstaltungen/submit', method='post')
    +csrf
    +hidden('id', veranstaltung.id())
    +hidden('kopf[confirmed]', veranstaltung.kopf().confirmed() ? 'on' : undefined)
    fieldset
      .row
        .col-md-12
          +submitButtonsFor(veranstaltung, 'kasse')
          .page-header
            h2 Abendkasse für #{veranstaltung.datumForDisplay()}<br>
              small #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}
      .row
        .col-md-6
          +legendMitBody('einnahmenReservix', 'Einnahmen Reservix', 'reservixGesamt', 'color-misc')
            .row
              .col-xs-4
                +currency('kasse[reservixBruttoEUR]', 'Tickets Brutto (Reservix)', kasse.reservixBruttoEUR())
              .col-xs-4
                +currency('kasse[reservixNettoEUR]', 'Tickets Netto (Reservix)', kasse.reservixNettoEUR())
              .col-xs-4
                +number('kasse[anzahlBesucherReservix]', 'Besucher (Reservix)', kasse.anzahlBesucherReservix(), 'Anzahl der Reservix-Tickets', 0, 999)

          +legendMitBody('einnahmen', 'Einnahmen Abendkasse', 'einnahmenGesamt', 'color-kasse')
            .row
              .col-xs-4
                +currency('kasse[einnahmeTicketsEUR]', 'Tickets (AK)', kasse.einnahmeTicketsEUR())
              .col-xs-4
                +number('kasse[anzahlBesucherAK]', 'Besucher (AK)', kasse.anzahlBesucherAK(), 'Anzahl der bar bezahlten Tickets', 0, 999)
              .col-xs-4
                +currency('kasse[einnahmeBankEUR]', 'Bareinlage', kasse.einnahmeBankEUR(), 'z.B. Gage')
            .row
              .col-xs-8
                +text('kasse[einnahmeSonstiges1Text]', 'Sonstiges', kasse.einnahmeSonstiges1Text(), null, 'Spende, Mitgliedsbeitrag, etc.')
              .col-xs-4
                +currency('kasse[einnahmeSonstiges1EUR]', 'Betrag', kasse.einnahmeSonstiges1EUR())
            .row
              .col-xs-8
                +text('kasse[einnahmeSonstiges2Text]', 'Sonstiges', kasse.einnahmeSonstiges2Text(), null, 'Spende, Mitgliedsbeitrag, etc.')
              .col-xs-4
                +currency('kasse[einnahmeSonstiges2EUR]', 'Betrag', kasse.einnahmeSonstiges2EUR())


        .col-md-6
          +legendMitBody('ausgaben', 'Ausgaben (Bar und mit Beleg)', 'ausgabenGesamt', 'color-kasse')
            .row
              .col-sm-4.col-xs-6
                if !kosten.gageBAR()
                  +currency('kasse[ausgabeGageEUR]', 'Gage', kasse.ausgabeGageEUR())
                else
                  .form-group
                    label.control-label.text-danger(for='kasse[ausgabeGageEUR]'): i.fa.fa-exclamation-triangle &nbsp; Gage BAR &nbsp;
                      i.fa.fa-exclamation-triangle :
                    input.form-control.currency(id='kasse[ausgabeGageEUR]', type='text', value=kasse.ausgabeGageEUR(), name='kasse[ausgabeGageEUR]', placeholder=placeholder, disabled=readonly, text-align='right', data-currency-symbol=' €', data-currency-symbol-placement='s', data-decimal-character=',', data-digit-group-separator='')
              .col-sm-4.col-xs-6
                +currency('kasse[ausgabeCateringEUR]', 'Catering', kasse.ausgabeCateringEUR())
              .col-sm-4.col-xs-6
                +currency('kasse[ausgabeHelferEUR]', 'Personal', kasse.ausgabeHelferEUR())
            .row
              .col-xs-8
                +text('kasse[ausgabeSonstiges1Text]', 'Sonstiges', kasse.ausgabeSonstiges1Text())
              .col-xs-4
                +currency('kasse[ausgabeSonstiges1EUR]', 'Betrag', kasse.ausgabeSonstiges1EUR())
            .row
              .col-xs-8
                +text('kasse[ausgabeSonstiges2Text]', 'Sonstiges', kasse.ausgabeSonstiges2Text())
              .col-xs-4
                +currency('kasse[ausgabeSonstiges2EUR]', 'Betrag', kasse.ausgabeSonstiges2EUR())
            .row
              .col-xs-8
                +text('kasse[ausgabeSonstiges3Text]', 'Sonstiges', kasse.ausgabeSonstiges3Text())
              .col-xs-4
                +currency('kasse[ausgabeSonstiges3EUR]', 'Betrag', kasse.ausgabeSonstiges3EUR())
            .row
              .col-sm-9.col-xs-6
              .col-sm-3.col-xs-6
                +currency('kasse[ausgabeBankEUR]', 'An Bank', kasse.ausgabeBankEUR())
      .row
        .col-md-12
          .row
            .col-sm-3.col-xs-6
              +currency('kasse[anfangsbestandEUR]', 'Anfangsbestand', kasse.anfangsbestandEUR())
            .col-sm-3.col-xs-6
              .form-group
                +controlLabel('endbestandEUR', 'Endbestand')
                b: p#endbestandEUR.form-control-static.currency(data-currency-symbol=' €', data-currency-symbol-placement='s', data-decimal-character=',', data-digit-group-separator='')

      .row
        .col-md-12
          hr
          +submitButtonsFor(veranstaltung, 'kasse')

block scripts
  script.
    $(document).ready(function () {
      var einnahmeBankEUR = $('#kasse\\[einnahmeBankEUR\\]');
      var einnahmeTicketsEUR = $('#kasse\\[einnahmeTicketsEUR\\]');
      var einnahmeSonstiges1EUR = $('#kasse\\[einnahmeSonstiges1EUR\\]');
      var einnahmeSonstiges2EUR = $('#kasse\\[einnahmeSonstiges2EUR\\]');

      function updateEinnahmenGesamt() {
        var einnahmenGesamt = eurAmount(einnahmeBankEUR) + eurAmount(einnahmeTicketsEUR)
          + eurAmount(einnahmeSonstiges1EUR) + eurAmount(einnahmeSonstiges2EUR);
        setEuro($('#einnahmenGesamt'), einnahmenGesamt);
        $('#einnahmenGesamt').change(updateEndbestand);
      }

      einnahmeBankEUR.keyup(updateEinnahmenGesamt);
      einnahmeTicketsEUR.keyup(updateEinnahmenGesamt);
      einnahmeSonstiges1EUR.keyup(updateEinnahmenGesamt);
      einnahmeSonstiges2EUR.keyup(updateEinnahmenGesamt);
      updateEinnahmenGesamt();

      var reservixBruttoEUR = $('#kasse\\[reservixBruttoEUR\\]');
      
      function updateReservix() {
        setEuro($('#reservixGesamt'), eurAmount(reservixBruttoEUR));  
      }
      reservixBruttoEUR.keyup(updateReservix);
      updateReservix();

      var ausgabeGageEUR = $('#kasse\\[ausgabeGageEUR\\]');
      var ausgabeCateringEUR = $('#kasse\\[ausgabeCateringEUR\\]');
      var ausgabeHelferEUR = $('#kasse\\[ausgabeHelferEUR\\]');
      var ausgabeSonstiges1EUR = $('#kasse\\[ausgabeSonstiges1EUR\\]');
      var ausgabeSonstiges2EUR = $('#kasse\\[ausgabeSonstiges2EUR\\]');
      var ausgabeSonstiges3EUR = $('#kasse\\[ausgabeSonstiges3EUR\\]');
      var ausgabeBankEUR = $('#kasse\\[ausgabeBankEUR\\]');

      function updateAusgabenGesamt() {
        var ausgabenGesamt = eurAmount(ausgabeGageEUR) +
          eurAmount(ausgabeCateringEUR) + eurAmount(ausgabeHelferEUR) +
          eurAmount(ausgabeSonstiges1EUR) + eurAmount(ausgabeSonstiges2EUR) +
          eurAmount(ausgabeSonstiges3EUR) + eurAmount(ausgabeBankEUR);
        setEuro($('#ausgabenGesamt'), ausgabenGesamt);
        $('#ausgabenGesamt').change(updateEndbestand);
      }

      ausgabeGageEUR.keyup(updateAusgabenGesamt);
      ausgabeCateringEUR.keyup(updateAusgabenGesamt);
      ausgabeHelferEUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges1EUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges2EUR.keyup(updateAusgabenGesamt);
      ausgabeSonstiges3EUR.keyup(updateAusgabenGesamt);
      ausgabeBankEUR.keyup(updateAusgabenGesamt);
      updateAusgabenGesamt();

      var anfangsbestandEUR = $('#kasse\\[anfangsbestandEUR\\]');

      function updateEndbestand() {
        var endbestand = eurAmount(anfangsbestandEUR) +
          eurAmount($('#einnahmenGesamt')) - eurAmount($('#ausgabenGesamt'));
        setEuro($('#endbestandEUR'), endbestand);
      }

      anfangsbestandEUR.keyup(updateEndbestand);
      updateEndbestand();
    });
  script(src='/clientscripts/check-kasseform.js')
