extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Veranstaltungen

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href='/veranstaltungen/new', title='Neu'): i.fa.fa-file-o.fa-fw.fa-lg
        h2 Veranstaltungen <br>
          small #{titel}
      .table-responsive
        table.table.table-striped.table-condensed
          for veranstaltung in veranstaltungen
            tr
              td
                a(href=veranstaltung.fullyQualifiedUrl()) 
                  b #{veranstaltung.startMoment().format('ddd ll')}: #{''}
                  | #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}&nbsp;
                +submitButtonsFor(veranstaltung, null, true, true)
