extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Veranstaltungen

block content
  .row
    .col-lg-8
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href='/veranstaltungen/new', title='Neu'): i.fa.fa-file-o.fa-fw.fa-lg
        h2 Veranstaltungen <br>
          small #{titel}
      .table-responsive
        table.table.table-striped.table-condensed
          for veranstaltung in veranstaltungen
            -var kopf = veranstaltung.kopf()
            tr.form-inline
              td
                i(class=kopf.cssIconClass()) #{' '}
              th
                .form-control-static
                  a(href=veranstaltung.fullyQualifiedUrl())
                    | #{veranstaltung.startMoment().format('ddd ll')}: #{' '}
                    | #{kopf.titel()} im #{kopf.ort()}&nbsp;
                +submitButtonsFor(veranstaltung, null, true, true)
    .col-lg-4
      #calendar
