extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Veranstaltungen

block content
  .row
    .col-lg-8
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href='/veranstaltungen/new', title='Neu'): i.fa.fa-file-o.fa-fw.fa-lg
          a.btn.btn-default(href=webcalURL, title='als iCal'): i.fa.fa-calendar.fa-fw
          .btn-group
            a.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
              | #{titel} &nbsp;
              span.caret
            ul.dropdown-menu
              li: a(href='/veranstaltungen/zukuenftige') Zukünftige
              li: a(href='/veranstaltungen/vergangene') Vergangene
        h2 Veranstaltungen
      .table
        table.table.table-striped.table-condensed
          for veranstaltung in veranstaltungen
            -var kopf = veranstaltung.kopf()
            tr.form-inline
              td
                a(href=veranstaltung.fullyQualifiedUrl())
                  i(class=kopf.cssIconClass()) #{' '}
              th
                .form-control-static
                  a(href=veranstaltung.fullyQualifiedUrl())
                    .hidden-sm.hidden-xs #{veranstaltung.startMoment().format('ddd DD MMM YY')}
                    .hidden-md.hidden-lg #{veranstaltung.startMoment().format('DD.MM.YY')}
                  if !veranstaltung.kopf().confirmed()
                    span(style='color:red;') #{' '} [GEPLANT]
              th
                .form-control-static
                  a(href=veranstaltung.fullyQualifiedUrl()) #{kopf.titel()} im #{kopf.ort()}
                  if veranstaltung.reservixID()
                    | &nbsp;
                    span.badge(style='background-color: #F8500D !important')
                      img(src='/img/rex_21x21.png', width='14')
                      | &nbsp;#{veranstaltung.salesreport().anzahlRegulaer()}
                .form-control-static.pull-right
                  .btn-group.btn-group-xs
                    +checkedButton(veranstaltung.presse(), 'Presse', 'presse')
                    +checkedButton(veranstaltung.kosten(), 'Kosten', 'costs')
    .col-lg-4
      #calendar
      a.btn.btn-primary(href='/ical/termine', title='Termine bearbeiten') Termine

mixin checkedButton(section, name, stylename)
  if section.checked()
    a.btn.btn-xs(data-toggle='tooltip', title=name + ' OK', class='btn-' + stylename)
      i.fa.i.fa.fa-check.fa-fw.fa-lg
  else
    a.btn.btn-xs(data-toggle='tooltip', title=name + ' unklar', class='btn-' + stylename)
      i.fa.i.fa.fa-question.fa-fw.fa-lg
  
