extends ../../../views/layout

block title
  | Veranstaltungen

block content
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          a.btn.btn-default(href='/veranstaltungen/new', title='Neu'): i.fa.fa-file-o.fa-fw
        h2 Veranstaltungen <br>
          small #{titel}
      .table-responsive
        table.table.table-striped.table-condensed
          for veranstaltung in veranstaltungen
            tr
              th: a(href=veranstaltung.fullyQualifiedUrl() + '/kopf') #{veranstaltung.startMoment().format('ddd ll')}
              td: a(href=veranstaltung.fullyQualifiedUrl() + '/kopf') #{veranstaltung.kopf().titel()} im #{veranstaltung.kopf().ort()}&nbsp;
              td
                .btn-group.pull-right
                  a.btn.btn-default(href=veranstaltung.fullyQualifiedUrl() + '/kopf', title='Bearbeiten'): i.fa.fa-keyboard-o.fa-fw
                  a.btn.btn-default(href=veranstaltung.fullyQualifiedUrl() + '/ausgaben', title='Ausgaben'): i.fa.fa-eur.fa-fw
                  a.btn.btn-default(href=veranstaltung.fullyQualifiedUrl() + '/hotel', title='Hotel'): i.fa.fa-bed.fa-fw
