extends ../../../views/layout
include ../../../views/formComponents
  
block title
  | Veranstaltungen

block content
  .col-lg-8
    .page-header
      .bd-title
        .btn-group.float-right
          a.btn.btn-light(href='/veranstaltungen/new', title='Neu'): i.far.fa-file.fa-fw.fa-lg
          a.btn.btn-light(href=webcalURL, title='als iCal'): i.far.fa-calendar-alt.fa-fw.fa-lg
          .dropdown
            a.btn.btn-light.dropdown-toggle(data-toggle='dropdown')
              | #{titel} &nbsp;
              span.caret
            .dropdown-menu
              a.dropdown-item(href='/veranstaltungen/zukuenftige') Zukünftige
              a.dropdown-item(href='/veranstaltungen/vergangene') Vergangene
        h2 Veranstaltungen
    table.table.table-striped.table-sm
      -var monatAlt = -1;
      for veranstaltung in veranstaltungen
        -var kopf = veranstaltung.kopf()
        if monatAlt === -1 || monatAlt !== veranstaltung.startMoment().month()
          tr
            th(colspan=3, style=' background-color: rgb(200, 200, 200)') #{veranstaltung.startMoment().format('MMMM \'YY')}
            th(style=' background-color: rgb(200, 200, 200)')
              span.d-flex.justify-content-end
                a(href='/veranstaltungen/texte/' + veranstaltung.startMoment().format('YYMM')) Als Texte
                | &nbsp; &nbsp;
                a(href='/veranstaltungen/monat/' + veranstaltung.startMoment().format('YYMM')) Als Liste
          -monatAlt = veranstaltung.startMoment().month();
        tr
          td
            a(href=veranstaltung.fullyQualifiedUrl())
              i(class=kopf.cssIconClass()) #{' '} 
          th
            a(href=veranstaltung.fullyQualifiedUrl())
              .d-none.d-md-inline #{veranstaltung.startMoment().format('ddd DD MMM YY')}
              .d-md-none #{veranstaltung.startMoment().format('DD.MM.YY')}
            if !veranstaltung.kopf().confirmed()
              span(style='color:red;') #{' '} [GEPLANT]
          th.d-flex
            a(href=veranstaltung.fullyQualifiedUrl()) #{kopf.titel()} #{kopf.presseIn()}
            if veranstaltung.reservixID()
              | &nbsp;
              span.badge(style='background-color: #F8500D !important')
                img(src='/img/rex_21x21.png', width='14')
                | &nbsp;#{veranstaltung.salesreport().anzahlRegulaer()}
          td
            span.d-flex.justify-content-end
              .btn-group
                +checkedButton(veranstaltung, veranstaltung.presse(), 'presse', 'presse')
                +checkedButton(veranstaltung, veranstaltung.kosten(), 'ausgaben', 'costs')
  .col-lg-4
    #calendar.mt-4
    a.btn.btn-light.mt-3.float-right(href='/ical/termine', title='Termine bearbeiten') Termine

mixin checkedButton(veranstaltung, section, name, stylename)
  if section.checked()
    a.btn.btn-sm(data-toggle='tooltip', title=name + ' OK', class='btn-' + stylename, href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-check.fa-fw.fa-lg
  else
    a.btn.btn-sm(data-toggle='tooltip', title=name + ' unklar', class='btn-' + stylename, href=veranstaltung.fullyQualifiedUrl() + '/' + name)
      i.fas.fa-question.fa-fw.fa-lg
  
block head
  link(rel='stylesheet', href='/stylesheets/fullcalendar.css')

block scripts
  script(src='/clientscripts/fullcalendar.js')
  script(src='/clientscripts/fullcalendar.de.js')
