extends ../../../views/layout

block title
  | Veranstaltungen eines Monats

block content
  .col-12
    .row
      .col-12
        .page-header
          .btn-group.float-right
            a.btn.btn-primary(href='/veranstaltungen/imgzip/' + monat)
              i.fas.fa-download.fa-fw
              | &nbsp;Alle Bilder als ZIP
          h2 Monatsliste
    .row
      .col-12
        each veranstaltung in liste
          p
            b #{veranstaltung.kopf.titel}<br>
            b: i #{veranstaltung.startDatumUhrzeit().wochentagTagMonat}
            b #{' '} // #{veranstaltung.startDatumUhrzeit().uhrzeitKompakt} Uhr<br>
            | #{veranstaltung.kopf.presseInEcht()}
    .row
      .col-12
        h3 Bilder
    .row
      each veranstaltung in liste
        if veranstaltung.presse.image.length > 0
          .col-lg-6
            p &nbsp;
            p: b #{veranstaltung.kopf.titel}
            each bild in veranstaltung.presse.image
              img(src='/upload/' + encodeURIComponent(bild), width="100%")
              br
