doctype html
html
  head
    meta(charset='utf-8')
    link(href='/stylesheets/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:p,500')
  body
    .container-fluid
      .row
        .col-xs-12
          for veranstaltung in liste
            p
              b #{veranstaltung.kopf().titel()}<br> 
              b: i #{veranstaltung.startMoment().format('dd DD. MMMM')}
              b #{' '} // #{veranstaltung.startMoment().format('HH')} Uhr<br>
              | im #{veranstaltung.kopf().ort()}
      .row
        .col-xs-12
          h3 Bilder
          for veranstaltung in liste
            for bild in veranstaltung.presse().image()
              img(src='/upload/' + encodeURIComponent(bild))
              br
