doctype html
html
  head
    meta(charset='utf-8')
    link(href='/stylesheets/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:p,500')
    title Veranstaltungen eines Monats
  body
    .container-fluid
      .row
        .col-12
          p: a.btn.btn-primary(href='/veranstaltungen/imgzip/' + monat)
            i.fas.fa-download.fa-fw
            | &nbsp;Alle Bilder als ZIP
      .row
        .col-12
          for veranstaltung in liste
            p
              b #{veranstaltung.kopf().titel()}<br>
              b: i #{veranstaltung.startMoment().format('dd DD. MMMM')}
              b #{' '} // #{veranstaltung.startMoment().format('HH')} Uhr<br>
              | #{veranstaltung.kopf().presseIn()}
      .row
        .col-md-6
          h3 Bilder
          for veranstaltung in liste
            p &nbsp;
            p: b #{veranstaltung.kopf().titel()}
            for bild in veranstaltung.presse().image()
              img(src='/upload/' + encodeURIComponent(bild), width='100%')
              br
