extends ../../../views/layout
include ../../../views/formComponents
block title
  | Veranstaltung

block content
  -var agentur = veranstaltung.agentur()
  -var artist = veranstaltung.artist()
  -var eintrittspreise = veranstaltung.eintrittspreise()
  -var kasse = veranstaltung.kasse()
  -var kopf = veranstaltung.kopf()
  -var kosten = veranstaltung.kosten()
  -var staff = veranstaltung.staff()
  -var unterkunft = veranstaltung.unterkunft()
  -var vertrag = veranstaltung.vertrag()
  -var werbung = veranstaltung.werbung()
  -var salesreport = veranstaltung.salesreport()
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          +submitButtonsFor(veranstaltung, '', true)

        h2(class=kopf.cssTextClass())
          i(class=kopf.cssIconClass(), style='font-weight:normal') #{''} 
          | #{kopf.titel()} im #{kopf.ort()}
          br
          small
            | #{veranstaltung.startMoment().format('LLLL')} #{''}
            span (#{kopf.eventTyp()})
      .row
        .col-md-6
          if kopf.kooperation() && kopf.kooperation().length  > 1
            h3 Kooperation mit #{kopf.kooperation()}
          +panelMitBody('staff', 'Staff', null, 'color-staff', null, veranstaltung.fullyQualifiedUrl() + '/ausgaben', 'fa-pencil-square-o')
            table.table.table-striped.table-condensed
              tr
                th(colspan=2) Technik
              tr
                td(width='2%')
                td(width='98%') #{staff.technikerText()}
              tr
                th(colspan=2) Kasse
              tr
                td(width='2%')
                td(width='98%') #{staff.kassiererText()}
              tr
                th(colspan=2) Merchandising
              tr
                td(width='2%')
                td(width='98%') #{staff.merchandiseText()}
                

          +panelMitBody('eintritt', 'Eintritt und Abendkasse', 'eintrittGesamtEUR', 'color-kasse', veranstaltung.einnahmenGesamtEUR(), veranstaltung.fullyQualifiedUrl() + '/kasse', 'fa-pencil-square-o')
            if eintrittspreise.frei()
              .panel-body
                p: b Freier Eintritt
                p
                  b Abendkasse (Sammelbox) Überschuss (ohne Abzug Gage Cash)#{''}
                  b : #{''}
                   +currencySpan(kasse.ausgabeBankEUR() + kasse.ausgabeGageEUR(), 'abendkasseEUR')
            else
              table.table.table-condensed.table-striped
                tr
                  th
                  th(align='right', style='text-align: right;') Regulär
                  th(align='right', style='text-align: right;') Ermäßigt
                  th(align='right', style='text-align: right;') Mitglied
                tr
                  th Preise
                  td(align='right'): +currencySpan(eintrittspreise.regulaer(), 'eintrittRegulaer')
                  td(align='right'): +currencySpan(eintrittspreise.ermaessigt(), 'eintrittErmaessigt')
                  td(align='right'): +currencySpan(eintrittspreise.mitglied(), 'eintrittMitglied')
                if veranstaltung.reservixID()
                  tr.form-inline
                    th
                      span Reservix (aktuell)
                        .pull-right: +currencySpan(salesreport.bruttoUmsatz(), 'bruttoUmsatz')
                    td: span.pull-right #{salesreport.anzahlRegulaer()}
                    td
                    td
                tr.form-inline
                  th(colspan=3) Abendkasse Überschuss (ohne Abzug Gage Cash)
                  td: .pull-right: +currencySpan(kasse.einnahmenNettoEUR(), 'abendkasseEUR')
                if eintrittspreise.zuschuss() > 0
                  tr
                    th(colspan=3) Zuschuss
                    th: .pull-right: +currencySpan(eintrittspreise.zuschuss(), 'zuschuss')

          +panelMitBody('deal', 'Kostenübersicht /  Break-Even', 'dealUeberschussTotal', 'color-hotel')
            table.table.table-condensed.table-striped
              tr
                th(align='right', style='text-align: right;') Einnahmen
                th(align='right', style='text-align: right;') Kosten
                th(align='right', style='text-align: right;') Überschuss
              tr
                td(align='right'): +currencySpan(veranstaltung.einnahmenGesamtEUR(), 'dealEinnahmen')
                td(align='right'): +currencySpan(veranstaltung.kostenGesamtEUR(), 'dealKosten')
                td(align='right'): b: +currencySpan(veranstaltung.bruttoUerberschussEUR(), 'dealUeberschuss')
              if kosten.deal() !== 'ohne'
                tr
                  th Anteilig an Band (#{kosten.deal()}):
                  td
                  td(align='right'): b: +currencySpan(veranstaltung.dealAbsolutEUR(), 'dealUeberschussAnBand')


          +panelMitBody('info', 'Informationen', null, 'color-misc')
            .panel-body
              | !{kopf.beschreibungHTML()}

        .col-md-6
          +panelMitBody('kosten', 'Kosten', 'costs', 'color-costs', veranstaltung.kostenGesamtEUR(), veranstaltung.fullyQualifiedUrl() + '/ausgaben', 'fa-pencil-square-o')
            table.table.table-striped.table-condensed
              tr
                th(colspan=2) Backline und Technik
                th(align='right', style='text-align: right;'): +currencySpan(kosten.backlineUndTechnikEUR())
              tr
                th(colspan=2) Saal
                th(align='right', style='text-align: right;'): +currencySpan(kosten.saalmiete())
              tr
                th(colspan=2) Band
                th(align='right', style='text-align: right;'): +currencySpan(kosten.bandTotalEUR())
              tr
                td(width='2%')
                td(width='48%') 
                  if !kosten.gageBAR()
                    | Gage
                  else
                    b.text-danger: i.fa.fa-exclamation-triangle &nbsp; Gage BAR &nbsp;
                      i.fa.fa-exclamation-triangle
                td(align='right', width='50%'): +currencySpan(kosten.gagenTotalEUR())
              tr
                td
                td Agentur
                td(align='right'): +currencySpan(kosten.agenturTotalEUR())
              tr
                th(colspan=2) Hotel / Transport
                th(align='right', style='text-align: right;'): +currencySpan(unterkunft.kostenTotalEUR())
              tr
                th(colspan=2) Personal
                th(align='right', style='text-align: right;'): +currencySpan(staff.staffTotalEUR())
              tr
                th(colspan=2) Werbung
                th(align='right', style='text-align: right;'): +currencySpan(werbung.marketingTotalEUR())
              tr
                td
                td Plakate
                td(align='right'): +currencySpan(werbung.plakateTotalEUR())
              tr
                td
                td Flyer/Layout
                td(align='right'): +currencySpan(werbung.mediaTotalEUR())

          if werbung.genehmigungenNum()
            if !werbung.genehmigt()
              p.text-danger.form-inline 
                .checkbox.checkbox-warning
                  input#genehmigungenEingeholt(type='checkbox')
                  label.text-danger(for='genehmigungenEingeholt')
                    i.fa.fa-warning
                    | &nbsp;Wir müssen noch Genehmigungen für #{werbung.genehmigungenNum()} Plakate einholen.
            else
              p.text-success.form-inline
                .checkbox.checkbox-success
                  input#genehmigungenEingeholt(type='checkbox', checked='true')
                  label.text-success(for='genehmigungenEingeholt')
                    i.fa.check-circle
                    | &nbsp;Wir haben die Genehmigungen für #{werbung.genehmigungenNum()} Plakate eingeholt.
 
          if agentur.name()
            +panelMitBody('agentur', 'Agentur: ' + agentur.name(), null, 'color-general')
              .panel-body
                address
                  strong #{agentur.ansprechpartner()} <br>
                  | !{agentur.adresseHTML()} <br>
                  | Tel.: #{agentur.telefon()} <br>
                  | E-Mail: 
                  span.mailtoify #{agentur.email()}

          +panelMitBody('vertrag', 'Vertrag (' + vertrag.art() + ')', null, 'color-misc')
            table.table.table-condensed
              for step in vertrag.workflow()
                tr: td
                  .checkbox(class=vertrag.isChecked(step) && 'checkbox-success', style='margin-top: 0; margin-bottom: 0;')
                    input.vertragstep(type='checkbox', id=step, name=step, checked=vertrag.isChecked(step))
                    label(for=step)
                      | &nbsp;#{step}

          +panelMitBody('hotelbuchung', 'Hotelbuchung', null, 'color-misc')
            table.table.table-condensed
              for step in unterkunft.workflow()
                tr: td
                  .checkbox(class=unterkunft.isChecked(step) && 'checkbox-success', style='margin-top: 0; margin-bottom: 0;')
                    input.hotelstep(type='checkbox', id=step, name=step, checked=unterkunft.isChecked(step))
                    label(for=step)
                      | &nbsp;#{step}

block scripts
  script.
    $(document).ready(function () {
      $('a.chevron').click(function() { 
        $(this).find('i').toggleClass('fa-toggle-down fa-toggle-right');
      });
      
      $('.vertragstep').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/vertragStepClicked"}', {data: {step: this.name, checked: this.checked}});
      });
      
      $('.hotelstep').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/hotelStepClicked"}', {data: {step: this.name, checked: this.checked}});
      });
      
      $('#genehmigungenEingeholt').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/genehmigungenEingeholt"}', {data: {checked: this.checked}});
      });
      
    });
