extends ../../../views/layout
include ../../../views/formComponents
block title
  | Veranstaltung

block content
  -var agentur = veranstaltung.agentur()
  -var artist = veranstaltung.artist()
  -var eintrittspreise = veranstaltung.eintrittspreise()
  -var kasse = veranstaltung.kasse()
  -var kopf = veranstaltung.kopf()
  -var kosten = veranstaltung.kosten()
  -var staff = veranstaltung.staff()
  -var vertrag = veranstaltung.vertrag()
  -var werbung = veranstaltung.werbung()
  .row
    .col-md-12
      .page-header
        .btn-group.pull-right
          +submitButtonsFor(veranstaltung, '', true)

        h2 #{kopf.titel()} im #{kopf.ort()}
          br
          small #{veranstaltung.startMoment().format('LLLL')} #{''}
            span(style='color:#AABB33') (#{kopf.eventType()})
      .clearfix
      .row
        .col-md-6
          if kopf.kooperation()
            h3 Kooperation mit #{kopf.kooperation()}
          | !{kopf.beschreibungHTML()}

          .panel.panel-default
            .panel-heading.color-general
              a.inherit-color.chevron(data-toggle='collapse', data-target='#agentur'): b
                i.fa.fa-toggle-down.fa-fw.blog
                | &nbsp;Agentur: #{agentur.name()}
            #agentur.panel-body.collapse.in
              address
                strong #{agentur.ansprechpartner()} <br>
                |!{agentur.adresseHTML()} <br>
                |Tel.: #{agentur.telefon()} <br>
                |E-Mail: 
                span.mailtoify #{agentur.email()}

          .panel.panel-default
            .panel-heading.color-kasse
              b
                a.inherit-color.chevron(data-toggle='collapse', data-target='#eintritt')
                  i.fa.fa-toggle-down.fa-fw.blog
                  | &nbsp;Eintritt und Abendkasse
                .pull-right: +currencySpanNormal(0, 'eintrittGesamtEUR')
            #eintritt.collapse.in
              if eintrittspreise.frei()
                .panel-body
                  p: b Freier Eintritt
                  p: b Abendkasse (Sammelbox) Überschuss: #{''}
                     +currencySpanNormal(kasse.ausgabeBankEUR(), 'abendkasseEUR')
              else
                table.table.table-condensed.table-striped
                  tr
                    th
                    th(align='right', style='text-align: right;') Regulär
                    th(align='right', style='text-align: right;') Ermäßigt
                    th(align='right', style='text-align: right;') Mitglied
                  tr
                    td
                    td(align='right'): +currencySpanNormal(eintrittspreise.regulaer(), 'eintrittRegulaer')
                    td(align='right'): +currencySpanNormal(eintrittspreise.ermaessigt(), 'eintrittErmaessigt')
                    td(align='right'): +currencySpanNormal(eintrittspreise.mitglied(), 'eintrittMitglied')
                  tr.form-inline
                    th
                      p.form-control-static Reservix (aktuell)
                        .pull-right.form-control-static: +currencySpanNormal(0, 'eintrittReservixEUR')
                    td: input#reservixRegulaer.pull-right.reservix.form-control.trim-text(type='number', name='regulaer', value=eintrittspreise.reservix('regulaer'), min=0, max=500)
                    td: input#reservixErmaessigt.pull-right.reservix.form-control.trim-text(type='number', name='ermaessigt', value=eintrittspreise.reservix('ermaessigt'), min=0, max=500)
                    td: input#reservixMitglied.pull-right.reservix.form-control.trim-text(type='number', name='mitglied', value=eintrittspreise.reservix('mitglied'), min=0, max=500)
                  tr.form-inline
                    th(colspan=3)
                      p.form-control-static Abendkasse Überschuss (ohne Abzug Gage Cash)
                    th
                      .pull-right.form-control-static: +currencySpanNormal(kasse.ausgabeBankEUR() + kasse.ausgabeGageEUR(), 'abendkasseEUR')

          if kosten.deal() !== 'ohne'            
            .panel.panel-default
              .panel-heading.color-hotel
                b
                  a.inherit-color.chevron(data-toggle='collapse', data-target='#deal')
                    i.fa.fa-toggle-down.fa-fw.blog
                    | &nbsp;Gewinnbeteiligung für Band
                  .pull-right: +currencySpanNormal(null, 'dealUeberschussTotal')
              #deal.collapse.in
                table.table.table-condensed.table-striped
                  tr
                    th(align='right', style='text-align: right;') Einnahmen
                    th(align='right', style='text-align: right;') Kosten
                    th(align='right', style='text-align: right;') Überschuss
                  tr
                    td(align='right'): +currencySpanNormal(null, 'dealEinnahmen')
                    td(align='right'): +currencySpanNormal(veranstaltung.kostenGesamtEUR(), 'dealKosten')
                    td(align='right'): +currencySpanNormal(null, 'dealUeberschuss')
                  tr
                    th Anteilig an Band (#{kosten.deal()}):
                    td
                    td(align='right'): b: +currencySpanNormal(null, 'dealUeberschussAnBand')

        .col-md-6 
          .panel.panel-default
            .panel-heading.color-costs
              b
                a.inherit-color.chevron(data-toggle='collapse', data-target='#kosten')
                  i.fa.fa-toggle-down.fa-fw.blog
                  | &nbsp;Kosten
                .pull-right: +currencySpanNormal(veranstaltung.kostenGesamtEUR())
            #kosten.collapse.in
              table.table.table-striped.table-condensed
                tr
                  th(colspan=2) Backline und Technik
                  th(align='right', style='text-align: right;'): +currencySpanNormal(kosten.backlineUndTechnikEUR())
                tr
                  th(colspan=2) Saal
                  th(align='right', style='text-align: right;'): +currencySpanNormal(kosten.saalmiete())
                tr
                  th(colspan=2) Band
                  th(align='right', style='text-align: right;'): +currencySpanNormal(kosten.bandTotalEUR())
                tr
                  td(width='2%')
                  td(width='48%') Gage
                  td(align='right', width='50%'): +currencySpanNormal(kosten.gagenTotalEUR())
                tr
                  td
                  td Agentur
                  td(align='right'): +currencySpanNormal(kosten.agenturTotalEUR())
                tr
                  th(colspan=2) Personal
                  th(align='right', style='text-align: right;'): +currencySpanNormal(staff.staffTotalEUR())
                tr
                  th(colspan=2) Werbung
                  th(align='right', style='text-align: right;'): +currencySpanNormal(werbung.marketingTotalEUR())
                tr
                  td
                  td Plakate
                  td(align='right'): +currencySpanNormal(werbung.plakateTotalEUR())
                tr
                  td
                  td Flyer
                  td(align='right'): +currencySpanNormal(werbung.mediaTotalEUR())

          if !werbung.genehmigt()
            p.text-danger.form-inline 
              i.fa.fa-warning
              | &nbsp;Wir müssen noch Genehmigungen für #{werbung.genehmigungenNum()} Plakate einholen.
              input#genehmigungenEingeholt(type='checkbox')
          else
            p.text-success.form-inline
              i.fa.fa-check-circle
              | &nbsp;Wir haben die Genehmigungen für #{werbung.genehmigungenNum()} Plakate eingeholt.
              input#genehmigungenEingeholt(type='checkbox', checked = 'true')

          .panel.panel-default
            .panel-heading.color-misc
              a.inherit-color.chevron(data-toggle='collapse', data-target='#vertrag'): b
                i.fa.fa-toggle-down.fa-fw.blog
                | &nbsp;Vertrag (#{vertrag.art()})
            ul#vertrag.list-group.collapse.in
              for step in vertrag.workflow()
                li.list-group-item
                  label
                    input.vertragstep(type='checkbox', name=step, checked=vertrag.isChecked(step))
                    | &nbsp;#{step}


block scripts
  script.
    $(document).ready(function () {
      $('a.chevron').click(function() { 
        $(this).find('i').toggleClass('fa-toggle-down fa-toggle-right');
      });
      
      $('.vertragstep').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/stepClicked"}', {data: {step: this.name, checked: this.checked}});
      });
      
      $('#genehmigungenEingeholt').click(function() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + "/genehmigungenEingeholt"}', {data: {checked: this.checked}});
      });
      
      function eintrittGesamtEUR() {
        var eintrittRegulaer = $('#eintrittRegulaer');
        var eintrittErmaessigt = $('#eintrittErmaessigt');
        var eintrittMitglied = $('#eintrittMitglied');

        var reservixRegulaer = $('#reservixRegulaer');
        var reservixErmaessigt = $('#reservixErmaessigt');
        var reservixMitglied = $('#reservixMitglied');
        
        var einnahmen = eurAmount($('#abendkasseEUR'));
        if (eintrittRegulaer.length > 0) {
          einnahmen = intAmount(reservixRegulaer) * eurAmount(eintrittRegulaer) +
            intAmount(reservixErmaessigt) * eurAmount(eintrittErmaessigt) +
            intAmount(reservixMitglied) * eurAmount(eintrittMitglied);

          setEuro($('#eintrittReservixEUR'), einnahmen);
        }
        var ueberschuss = einnahmen - #{veranstaltung.kostenGesamtEUR()};
        setEuro($('#eintrittGesamtEUR'), einnahmen);
        setEuro($('#dealEinnahmen'), einnahmen);
        setEuro($('#dealUeberschuss'), ueberschuss);
        var ueberschussAbsolut = ueberschuss * #{kosten.dealAlsFaktor()};
        if (ueberschussAbsolut < 0) {
          ueberschussAbsolut = 0;
        }
        setEuro($('#dealUeberschussAnBand'), ueberschussAbsolut);
        setEuro($('#dealUeberschussTotal'), ueberschussAbsolut);
      }
      
      function reservixChanged() {
        $.ajax('#{veranstaltung.fullyQualifiedUrl() + '/reservixChanged'}', {
          data: {
            type: this.name,
            value: this.value
          }
        }).done(eintrittGesamtEUR);
      }
      $('.reservix').keyup(reservixChanged);
      $('.reservix').change(reservixChanged);
      eintrittGesamtEUR();
    });
