extends ../../../views/layout
include ../../../views/formComponents
  
mixin mitarbeiterRows(collection, verantwortlich)
  for user in collection || []
    tr
      td(width='2%')
      td(width='98%')
        | #{user.name} &nbsp;
        span.mailtoify #{user.email}
        | #{' '} Tel.: 
        span.telify #{user.tel}
        if verantwortlich
          b #{' '}(Verantwortlich)


block title
  | #{veranstaltung.kopf().titel()}

block content
  -var agentur = veranstaltung.agentur()
  -var eintrittspreise = veranstaltung.eintrittspreise()
  -var kopf = veranstaltung.kopf()
  -var unterkunft = veranstaltung.unterkunft()
  -var presse = veranstaltung.presse()
    
  .col-12
    .row
      .col-12
        .page-header
          h2(class='text-' + kopf.cssColorCode())
            i(class=kopf.cssIconClass(), style='font-weight:normal') #{''} 
            | #{kopf.titel()} - #{kopf.ort()}
            br
            small
              | #{veranstaltung.startMoment().format('LLLL')} #{''}
              span (#{kopf.eventTyp()})
            if kopf.kooperation() && kopf.kooperation().length  > 1
              h3 Kooperation mit #{kopf.kooperation()}
    .row
      .col-md-6
        +legendMitBody('staff', 'Staff', null, 'staff')
          -var mitarbeiter = veranstaltung.staff().state.mitarbeiterTransient;  
          table.table.table-striped.table-sm
            if veranstaltung.staff().noStaffNeeded()
              tr: th(colspan=2) Niemand benötigt
            else
              tr: th(colspan=2) Technik
              +mitarbeiterRows(mitarbeiter.technikerV, true)
              +mitarbeiterRows(mitarbeiter.techniker, false)
              tr: th(colspan=2) Kasse
              +mitarbeiterRows(mitarbeiter.kasseV, true)
              +mitarbeiterRows(mitarbeiter.kasse, false)
              if mitarbeiter.merchandise.length > 0
                tr: th(colspan=2) Merchandising
              +mitarbeiterRows(mitarbeiter.merchandise, false)
              if mitarbeiter.fremdpersonal.length > 0
                tr: th(colspan=2) Sonstige
              +mitarbeiterRows(mitarbeiter.fremdpersonal, false)
                
  
        +legendMitBody('eintritt', 'Eintritt und Abendkasse', null, 'kasse')
          table.table.table-sm.table-striped
            if eintrittspreise.frei()
              tr
                th(align='right') Freier Eintritt (Sammelbox)
            else
              tr
                th(align='right'): +currencySpan(eintrittspreise.regulaer(), 'eintrittRegulaer')
                th(align='right'): +currencySpan(eintrittspreise.ermaessigt(), 'eintrittErmaessigt')
                th(align='right'): +currencySpan(eintrittspreise.mitglied(), 'eintrittMitglied')
            if accessrights.isAbendkasse()
              tr
                td(colspan=3)
                  a.btn.btn-kasse(href=veranstaltung.fullyQualifiedUrl() + '/kasse', title='Abendkasse')
                      | &nbsp;Abendkasse
        if kopf.beschreibungHTML()
          +legendMitBody('info', 'Informationen', null, 'misc')
            .card-body
              | !{kopf.beschreibungHTML()}
          
        +legendMitBody('presse', 'Pressetext', null, 'presse')
          | !{veranstaltung.presseTextHTML()}
          if presse.firstImage() 
            img(src=presse.imageURLpure(), width = '100%')
            
        if agentur.name()
          +legendMitBody('agentur', 'Agentur: ' + agentur.name(), null, 'general')
            .card-body
              address
                strong #{agentur.ansprechpartner()} <br>
                | !{agentur.adresseHTML()} <br>
                | Tel.: #{agentur.telefon()} <br>
                | E-Mail: 
                span.mailtoify #{agentur.email()}
          
        if unterkunft.anzahlZimmer()
          +legenMitBody('hotelbuchung', 'Hotelbuchung', null, 'hotel')
            table.table.table-sm
              tr: td Hotelzeugs 
