include ../../../views/formComponents
  
mixin staffRow(name, label)
  .row
    .col-xs-6
      +editableMultiselect('staff[' + name + ']', label, staff[name](), optionen[name]())
    .col-xs-3
      +currency('staff[' + name + 'EUR]', 'Betrag', staff[name + 'EUR']() || optionen[name + 'EUR']())
    .col-xs-3
      .form-group
        label.control-label Total:
        p: b
          +currencySpan(name + 'Total', 'form-control-static pull-right')


mixin staffScriptFor(name)
  script.
    var #{name} = $('#staff\\[#{name}\\]');
    var #{name}EUR = $('#staff\\[#{name}EUR\\]');
    function update#{name}Total() {
      var #{name}Anzahl = #{name}.val().length;
      var eur = parseFloat(#{name}EUR.autoNumeric('get'), 10);
      var result = #{name}Anzahl * eur;
      $('#' + '#{name}Total').autoNumeric('set', result);
      updateStaffTotal();
    }
    #{name}.change(update#{name}Total);
    #{name}.keyup(update#{name}Total);
    #{name}EUR.keyup(update#{name}Total);
    update#{name}Total();

mixin staff
  legend
    a(data-toggle='collapse', href='#staff') Staff
    +currencySpan('staffPreis', 'pull-right')
  #staff.collapse.in
    +staffRow('techniker', 'Techniker')
    +staffRow('merchandise', 'Merchandise')
    +staffRow('kasse', 'Kasse')
    +staffRow('fremdpersonal', 'Fremdpersonal')

mixin staffScript
  script.
    function updateStaffTotal() {
      var techniker = parseFloat($('#technikerTotal').autoNumeric('get')) || 0;
      var merchandise = parseFloat($('#merchandiseTotal').autoNumeric('get')) || 0;
      var kasse = parseFloat($('#kasseTotal').autoNumeric('get')) || 0;
      var fremdpersonal = parseFloat($('#fremdpersonalTotal').autoNumeric('get')) || 0;
      $('#staffPreis').autoNumeric('set', techniker + merchandise + kasse + fremdpersonal);
    }

  +staffScriptFor('techniker')
  +staffScriptFor('merchandise')
  +staffScriptFor('kasse')
  +staffScriptFor('fremdpersonal')
  
  

