include ../../../views/formComponents
  
mixin staffRow(staff, name, label)
  .row
    .col-xs-6
      +editableMultiselect('staff[' + name + ']', label, staff[name](), optionen[name]())
    .col-xs-3
      +currency('staff[' + name + 'EUR]', 'Betrag', staff[name + 'EUR']() || optionen[name + 'EUR']())
    .col-xs-3
      .form-group
        label.control-label Total:
        p: b
          +currencySpan(null, name + 'Total', 'form-control-static pull-right text-success')


mixin staffScriptFor(name)
  script.
    $(document).ready(function() {
      var #{name} = $('#staff\\[#{name}\\]');
      var #{name}EUR = $('#staff\\[#{name}EUR\\]');

      function update#{name}Total() {
        var result = #{name}.val().length * eurAmount(#{name}EUR);
        $('#' + '#{name}Total').autoNumeric('set', result);
        updateStaffTotal();
      }

      #{name}.change(update#{name}Total);
      #{name}.keyup(update#{name}Total);
      #{name}EUR.keyup(update#{name}Total);
      update#{name}Total();
    });

mixin staff(staff)
  +legendMitBody('staff', 'Staff', 'staffPreis')
    +staffRow(staff, 'techniker', 'Techniker')
    +staffRow(staff, 'merchandise', 'Merchandise')
    +staffRow(staff, 'kasse', 'Kasse')
    +staffRow(staff, 'fremdpersonal', 'Fremdpersonal')

mixin staffScript
  script.
    function updateStaffTotal() {
      const summe = eurAmount($('#technikerTotal')) + eurAmount($('#merchandiseTotal'))
        + eurAmount($('#kasseTotal')) + eurAmount($('#fremdpersonalTotal'));
      $('#staffPreis').autoNumeric('set', summe);
    }

  +staffScriptFor('techniker')
  +staffScriptFor('merchandise')
  +staffScriptFor('kasse')
  +staffScriptFor('fremdpersonal')
  
  

