extends ../../../views/layout

include ../../../views/formComponents

mixin checkEvent(name, label, month)
  .form-check.abc-checkbox.abc-checkbox-success
    input.form-check-input(type="checkbox", id=name, name=name, class=month)
    label.form-check-label(for=name) !{label}

mixin eventsTable(events)
  - var monatAlt = -1;
  - var monatJahr;
  +csrf
  .row
    .col-sm-6
      +singleselect('dateiart', 'PDF / CSV', 'PDF', ['PDF', 'CSV'])
    .col-sm-6
      +submitButtons('Öffnen')
  table.table.table-sm.table-striped
    each event in events
      if monatAlt === -1 || monatAlt !== event.month()
        - monatAlt = event.month();
        - monatJahr = event.month() + '-' + event.year() + '-' + event.istVergangen();
        tr: th.bg-secondary.text-white
          .form-check.form-check-inline.abc-checkbox.abc-checkbox-success
            input.form-check-input(type="checkbox", id=monatJahr, onClick=`selectCheckboxesForMonth("${monatJahr}", this)`)
            label.form-check-label(for=monatJahr) #{event.startDatumUhrzeit().monatLangJahrKompakt}

      tr: td: +checkEvent('event[' + event.id() + ']', event.description(), monatJahr)

block title
  | Gema

block content
  .col-12.mt-3
    .page-header
      h2 Gema

    .row
      .col-lg-6
        +legendMitBody('vorab', 'Vorabmeldung', null, 'allgemeines')
          form#gemavorform(action="/gema/vorab", method="post")
            +eventsTable(upcomingEvents)

      if (pastEvents)
        .col-lg-6
          +legendMitBody('nach', 'Nachmeldung', null, 'allgemeines')
            form#gemanachform(action="/gema/nach", method="post")
              +eventsTable(pastEvents)

block scripts
  script.
    function selectCheckboxesForMonth(month, button) {
      const state = $(button).prop('checked');
      $('.' + month).prop('checked', state);
    }
