doctype html
html
  head
    meta(charset='utf-8')
    link(href=publicUrlPrefix + '/stylesheets/screen.css', rel='stylesheet')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:p,500')
  body(style='font-size:10px;')
    .container-fluid
      .row
        .col-6
          address
            strong GEMA Kundenservice <br><br>
            | Postfach 101753 <br>
            | 11506 Berlin
        .col-6
          address.float-right
            strong Jazzclub Karlsruhe e.V. <br>
            | KDnr. 113098200 <br>
            | Leopoldstr. 13 <br>
            | 76133 Karlsruhe
        .col-12
          if nachmeldung
            h3 Vergangene Veranstaltungen
          else
            h3 Kommende Veranstaltungen
          table.table.table-sm
            tr
              th Datum
              th Ort
              th Kooperation Mit
              th Veranstaltungsart
              th Musikwiedergabeart
              th.text-right Eintrittspreis
              if nachmeldung
                th.text-right Einnahmen
                th.text-right Anzahl Besucher
              th Rechnung An
              th.text-right Raumgröße
            for veranstaltung in events
              -var kopf = veranstaltung.kopf()
              tr
                td #{veranstaltung.datumForDisplay()}
                td #{kopf.ort()}
                td #{kopf.kooperation()}
                td Jazzkonzert
                td #{veranstaltung.artist().bandname() || veranstaltung.artist().name().join(', ')}
                td.text-right #{veranstaltung.preisAusweisGema()}
                if nachmeldung
                  td.text-right #{veranstaltung.eintrittGema()}
                  td.text-right #{veranstaltung.anzahlBesucher()}
                td #{kopf.rechnungAnKooperation() ? kopf.kooperation() : 'Jazzclub'}
                td.text-right #{allgemeines.flaeche()} m<sup>2</sup>
