extends ../../../views/layout
include ../../../views/formComponents

block title
  | GEMA

block content

  .row
    .col-xs-6
      address
        strong GEMA Kundenservice <br><br>
        | Postfach 101753 <br>
        | 11506 Berlin
    .col-xs-6
      address
        strong Jazzclub Karlsruhe e.V. <br>
        | KDnr. 113098200 <br>
        | Leopoldstr. 13 <br>
        | 76133 Karlsruhe
    .col-xs-12
      h3 Vergangene Veranstaltungen
      table.table.table-condensed
        tr
          th Datum
          th Ort
          th Veranstaltungsart
          th Musikwiedergabeart
          th Eintrittspreis
          th Einnahmen
          th Anzahl Besucher
          th Raumgröße
        for veranstaltung in events
          tr
            td #{veranstaltung.datumForDisplay()}
            td #{veranstaltung.kopf().ort()}
            td Jazzkonzert
            td Musiker: #{veranstaltung.artist().name()}
            if veranstaltung.eintrittspreise().frei()
              td freier Eintritt
            else if veranstaltung.kopf().kooperation() !== '_'
              td  Kooperation mit: #{veranstaltung.kopf().kooperation()}
            else
              td: +currencySpan(veranstaltung.eintrittspreise().regulaer())
            td: +currencySpan(veranstaltung.nettoUeberschussEUR())
            td #{veranstaltung.anzahlBesucher()}
            td #{veranstaltung.kopf().flaeche()} m<sup>2</sup>
